<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.ma.pub.platform.send.impl.pskq.dao.PskqPlatFormSendBlMapper" >
<resultMap id="BaseResultMap" type="com.zebone.nhis.ma.pub.platform.pskq.model.CostDetailOutpat">
    <id column="EMPI_ID" jdbcType="VARCHAR" property="empiId" />
    <result column="PK_PATIENT" jdbcType="VARCHAR" property="pkPatient" />
    <result column="ENCOUNTER_ID" jdbcType="VARCHAR" property="encounterId" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="ENCOUNTER_TYPE_CODE" jdbcType="VARCHAR" property="encounterTypeCode" />
    <result column="ENCOUNTER_TYPE_NAME" jdbcType="VARCHAR" property="encounterTypeName" />
    <result column="VISIT_ID" jdbcType="VARCHAR" property="visitId" />
    <result column="VISIT_NO" jdbcType="VARCHAR" property="visitNo" />
    <result column="PATIENT_NAME" jdbcType="VARCHAR" property="patientName" />
    <result column="GENDER_CODE" jdbcType="VARCHAR" property="genderCode" />
    <result column="GENDER_NAME" jdbcType="VARCHAR" property="genderName" />
    <result column="DATE_OF_BIRTH" jdbcType="VARCHAR" property="dateOfBirth" />
    <result column="AGE_YEAR" jdbcType="VARCHAR" property="ageYear" />
    <result column="AGE_MONTH" jdbcType="VARCHAR" property="ageMonth" />
    <result column="AGE_DAY" jdbcType="VARCHAR" property="ageDay" />
    <result column="AGE_HOUR" jdbcType="VARCHAR" property="ageHour" />
    <result column="PATIENT_TYPE_CODE" jdbcType="VARCHAR" property="patientTypeCode" />
    <result column="PATIENT_TYPE_NAME" jdbcType="VARCHAR" property="patientTypeName" />
    <result column="COST_DETAIL_ID" jdbcType="VARCHAR" property="costDetailId" />
    <result column="SETTLEMENT_DETAIL_ID" jdbcType="VARCHAR" property="settlementDetailId" />
    <result column="ACCOUNT_TYPE_CODE" jdbcType="VARCHAR" property="accountTypeCode" />
    <result column="ACCOUNT_TYPE_NAME" jdbcType="VARCHAR" property="accountTypeName" />
    <result column="CHARGE_ITEM_CODE" jdbcType="VARCHAR" property="chargeItemCode" />
    <result column="CHARGE_ITEM_NAME" jdbcType="VARCHAR" property="chargeItemName" />
    <result column="CHARGE_ITEM_PRICE" jdbcType="VARCHAR" property="chargeItemPrice" />
    <result column="CHARGE_ITEM_ORIG_PRICE" jdbcType="VARCHAR" property="chargeItemOrigPrice" />
    <result column="CHARGE_QUANTITY" jdbcType="VARCHAR" property="chargeQuantity" />
    <result column="HERBAL_QUANTITY" jdbcType="VARCHAR" property="herbalQuantity" />
    <result column="CHARGE_TOTAL" jdbcType="VARCHAR" property="chargeTotal" />
    <result column="ORIG_CHARGE_TOTAL" jdbcType="VARCHAR" property="origChargeTotal" />
    <result column="INPUT_DATE_TIME" jdbcType="VARCHAR" property="inputDateTime" />
    <result column="INPUT_DOCTOR_ID" jdbcType="VARCHAR" property="inputDoctorId" />
    <result column="INPUT_DOCTOR_NAME" jdbcType="VARCHAR" property="inputDoctorName" />
    <result column="ENTER_DATE_TIME" jdbcType="VARCHAR" property="enterDateTime" />
    <result column="ENTER_DOCTOR_ID" jdbcType="VARCHAR" property="enterDoctorId" />
    <result column="ENTER_DOCTOR_NAME" jdbcType="VARCHAR" property="enterDoctorName" />
    <result column="APPLY_DEPT_ID" jdbcType="VARCHAR" property="applyDeptId" />
    <result column="APPLY_DEPT_NAME" jdbcType="VARCHAR" property="applyDeptName" />
    <result column="ACCOUNT_DEPT_ID" jdbcType="VARCHAR" property="accountDeptId" />
    <result column="ACCOUNT_DEPT_NAME" jdbcType="VARCHAR" property="accountDeptName" />
    <result column="EXEC_DEPT_ID" jdbcType="VARCHAR" property="execDeptId" />
    <result column="EXEC_DEPT_NAME" jdbcType="VARCHAR" property="execDeptName" />
    <result column="EXEC_DATE_TIME" jdbcType="VARCHAR" property="execDateTime" />
    <result column="EXEC_OPERA_ID" jdbcType="VARCHAR" property="execOperaId" />
    <result column="EXEC_OPERA_NAME" jdbcType="VARCHAR" property="execOperaName" />
    <result column="EXEC_WIN_NO" jdbcType="VARCHAR" property="execWinNo" />
    <result column="EXEC_EQUIPMENT_NO" jdbcType="VARCHAR" property="execEquipmentNo" />
    <result column="STORAGE_CODE" jdbcType="VARCHAR" property="storageCode" />
    <result column="STORAGE_NAME" jdbcType="VARCHAR" property="storageName" />
    <result column="CHARGE_STATUS" jdbcType="VARCHAR" property="chargeStatus" />
    <result column="CHARGE_ITEM_CLASS_CODE" jdbcType="VARCHAR" property="chargeItemClassCode" />
    <result column="CHARGE_ITEM_CLASS_NAME" jdbcType="VARCHAR" property="chargeItemClassName" />
    <result column="ITEM_MI_TYPE_CODE" jdbcType="VARCHAR" property="itemMiTypeCode" />
    <result column="ITEM_MI_TYPE_NAME" jdbcType="VARCHAR" property="itemMiTypeName" />
    <result column="RCPT_CLASS_CODE" jdbcType="VARCHAR" property="rcptClassCode" />
    <result column="RCPT_CLASS_NAME" jdbcType="VARCHAR" property="rcptClassName" />
    <result column="AUDIT_CLASS_CODE" jdbcType="VARCHAR" property="auditClassCode" />
    <result column="AUDIT_CLASS_NAME" jdbcType="VARCHAR" property="auditClassName" />
    <result column="ACCOUNT_CLASS_CODE" jdbcType="VARCHAR" property="accountClassCode" />
    <result column="ACCOUNT_CLASS_NAME" jdbcType="VARCHAR" property="accountClassName" />
    <result column="MR_CLASS_CODE" jdbcType="VARCHAR" property="mrClassCode" />
    <result column="MR_CLASS_NAME" jdbcType="VARCHAR" property="mrClassName" />
    <result column="HQ_MAT_FLAG" jdbcType="VARCHAR" property="hqMatFlag" />
    <result column="ASSIST_DRUG_FLAG" jdbcType="VARCHAR" property="assistDrugFlag" />
    <result column="SPECIAL_DRUG_FLAG" jdbcType="VARCHAR" property="specialDrugFlag" />
    <result column="ACCOUNT_DATE_TIME" jdbcType="VARCHAR" property="accountDateTime" />
    <result column="CHARGE_DATE_TIME" jdbcType="VARCHAR" property="chargeDateTime" />
    <result column="CHARGE_OPERA_ID" jdbcType="VARCHAR" property="chargeOperaId" />
    <result column="CHARGE_OPERA_NAME" jdbcType="VARCHAR" property="chargeOperaName" />
    <result column="SETTLEMENT_NO" jdbcType="VARCHAR" property="settlementNo" />
    <result column="SETTLEMENT_TIMES" jdbcType="VARCHAR" property="settlementTimes" />
    <result column="SETTLEMENT_DATE_TIME" jdbcType="VARCHAR" property="settlementDateTime" />
    <result column="SETTLEMENT_OPERA_ID" jdbcType="VARCHAR" property="settlementOperaId" />
    <result column="SETTLEMENT_OPERA_NAME" jdbcType="VARCHAR" property="settlementOperaName" />
    <result column="MI_LIMIT_FEE" jdbcType="VARCHAR" property="miLimitFee" />
    <result column="IN_MI_FEE" jdbcType="VARCHAR" property="inMiFee" />
    <result column="OUT_MI_FEE" jdbcType="VARCHAR" property="outMiFee" />
    <result column="SELF_PAYMENT_FEE" jdbcType="VARCHAR" property="selfPaymentFee" />
    <result column="MI_STATUS" jdbcType="VARCHAR" property="miStatus" />
    <result column="MI_CLASS_CODE" jdbcType="VARCHAR" property="miClassCode" />
    <result column="MI_CLASS_NAME" jdbcType="VARCHAR" property="miClassName" />
    <result column="PREFERENTIAL_FEE" jdbcType="VARCHAR" property="preferentialFee" />
    <result column="PREFERENTIAL_RATE" jdbcType="VARCHAR" property="preferentialRate" />
    <result column="SUB_SYSTEM_CODE" jdbcType="VARCHAR" property="subSystemCode" />
    <result column="INPUT_SOURCE_CODE" jdbcType="VARCHAR" property="inputSourceCode" />
    <result column="ORDER_ID" jdbcType="VARCHAR" property="orderId" />
    <result column="SOURCE_SYSTEM_CODE" jdbcType="VARCHAR" property="sourceSystemCode" />
  </resultMap>

     <select id="queBlOpDtRefund" parameterType = "java.util.List" resultMap="BaseResultMap">
	           SELECT  pi.mpi EMPI_ID
				,pi.code_pi PK_PATIENT
				,pv.CODE_PV ENCOUNTER_ID
				,bo.code_org ORG_CODE
				,bo.name_org ORG_NAME
				,pv.EU_PVTYPE ENCOUNTER_TYPE_CODE
				,(case when pv.EU_PVTYPE='1' then '门诊' when pv.EU_PVTYPE='2' then '急诊' else '住院' end) as ENCOUNTER_TYPE_NAME
				,pv.CODE_PV VISIT_ID
				,op.op_times VISIT_NO
				,pi.name_pi PATIENT_NAME
				,bd.code GENDER_CODE
				,bd.name GENDER_NAME
				,pi.BIRTH_DATE as DATE_OF_BIRTH
				,pv.age_pv AGE_YEAR
				,bdHp.code PATIENT_TYPE_CODE
				,bdHp.NAME PATIENT_TYPE_NAME
				,opdt.PK_CGOP COST_DETAIL_ID
				,blInvoice.PK_INVOICE SETTLEMENT_DETAIL_ID
				,bdDeBl.code ACCOUNT_TYPE_CODE
				,bdDeBl.NAME as ACCOUNT_TYPE_NAME
				,item.CODE CHARGE_ITEM_CODE
				,item.NAME CHARGE_ITEM_NAME
				,opdt.price CHARGE_ITEM_PRICE
				,opdt.price CHARGE_ITEM_ORIG_PRICE
				,opdt.quan CHARGE_QUANTITY
				,'0' HERBAL_QUANTITY
				,opdt.amount_pi CHARGE_TOTAL
				,opdt.amount_pi ORIG_CHARGE_TOTAL
				,opdt.create_time INPUT_DATE_TIME
				,empApp.CODE_EMP INPUT_DOCTOR_ID
				, empApp.NAME_EMP INPUT_DOCTOR_NAME
				,ord.create_time ENTER_DATE_TIME
				,empApp.CODE_EMP ENTER_DOCTOR_ID
				,empApp.NAME_EMP ENTER_DOCTOR_NAME
				,deptApp.CODE_DEPT APPLY_DEPT_ID
				,deptApp.NAME_DEPT APPLY_DEPT_NAME
				,empApp.CODE_EMP ACCOUNT_DEPT_ID
				,empApp.NAME_EMP ACCOUNT_DEPT_NAME
				,deptEx.CODE_DEPT EXEC_DEPT_ID
				,deptEx.NAME_DEPT EXEC_DEPT_NAME
				,opdt.date_hap EXEC_DATE_TIME
				,empEx.CODE_EMP EXEC_OPERA_ID
				,empEx.NAME_EMP EXEC_OPERA_NAME
				,empEx.CODE_EMP EXEC_WIN_NO
				,'2' CHARGE_STATUS
				,itencat.CODE CHARGE_ITEM_CLASS_CODE
				,itencat.NAME CHARGE_ITEM_CLASS_NAME
				,bdHp.code ITEM_MI_TYPE_CODE
				,bdHp.name ITEM_MI_TYPE_NAME
				,bdinv.CODE RCPT_CLASS_CODE
				,bdinv.name RCPT_CLASS_NAME
				,AUD.CODE AUDIT_CLASS_CODE
				,AUD.NAME AUDIT_CLASS_NAME
				,AUD.CODE ACCOUNT_CLASS_CODE
				,AUD.NAME ACCOUNT_CLASS_NAME
				,baDefdoc.CODE MR_CLASS_CODE
				,baDefdoc.NAME MR_CLASS_NAME
				,(case when bdItemdoc.CODE = '0701' then '1' else '0' end ) as HQ_MAT_FLAG
				,'' ASSIST_DRUG_FLAG
				,'' SPECIAL_DRUG_FLAG
				,SETTLE.date_st as ACCOUNT_DATE_TIME
				,opdt.date_cg CHARGE_DATE_TIME
				,empApp.CODE_EMP CHARGE_OPERA_ID
				,empApp.NAME_EMP CHARGE_OPERA_NAME
				,pay.TRADE_NO  SETTLEMENT_NO
				,'1' SETTLEMENT_TIMES
				,SETTLE.date_st SETTLEMENT_DATE_TIME
				,empst.CODE_EMP SETTLEMENT_OPERA_ID
				,empst.NAME_EMP SETTLEMENT_OPERA_NAME
				,'0' MI_LIMIT_FEE
				,nvl(opdt.amount_hppi,'0') IN_MI_FEE
				,'0' OUT_MI_FEE
				,opdt.amount_pi SELF_PAYMENT_FEE
				,'' MI_STATUS
				,'' MI_CLASS_CODE
				,'' MI_CLASS_NAME
				,SETTLE.amount_disc PREFERENTIAL_FEE
				,opdt.ratio_disc PREFERENTIAL_RATE
				,'' SUB_SYSTEM_CODE
				,'' INPUT_SOURCE_CODE
				,ord.ordsn ORDER_ID
				,nvl(pay.sysname,'2000') as  SOURCE_SYSTEM_CODE
				FROM
				BL_OP_DT opdt
				left join pv_op op on op.PK_PV = opdt.PK_PV
				left join BL_SETTLE SETTLE on SETTLE.PK_SETTLE=opdt.PK_SETTLE
				left join  bl_deposit deBl on deBl.PK_SETTLE = SETTLE.PK_SETTLE
				left join  bl_deposit deBlOld on deBlOld.PK_SETTLE = SETTLE.PK_SETTLE_CANC
				left join  bl_ext_pay pay on pay.PK_depo = deBlOld.PK_depo
				INNER join BD_ITEM item on item.PK_ITEM=opdt.PK_ITEM
				left join PV_ENCOUNTER pv on pv.pk_pv=opdt.PK_PV
				left join pv_insurance pvInsur on pv.pk_pv=pvInsur.pk_pv
				left join bd_hp bdHp on bdHp.pk_hp = pv.PK_INSU
				left join bl_st_inv blStInv on SETTLE.PK_SETTLE_CANC=blStInv.PK_SETTLE
				left join bl_invoice blInvoice on blInvoice.pk_invoice=blStInv.pk_invoice
				left join bd_invcate bdinv on bdinv.PK_INVCATE = blInvoice.PK_INVOICE
				left join PI_MASTER pi on pi.PK_PI=pv.PK_PI
				left join cn_order ord on ord.pk_cnord = opdt.pk_cnord
				left join BD_OU_ORG bo on bo.pk_Org=pv.pk_org
				left join BD_DEFDOC bd on bd.code=pi.dt_sex and bd.CODE_DEFDOCLIST = '000000'
				LEFT JOIN bd_ou_employee empApp ON empApp.PK_EMP = opdt.pk_emp_app and empApp.DEL_FLAG = '0'
				LEFT JOIN BD_OU_DEPT deptApp ON deptApp.pk_dept = opdt.pk_dept_app
				LEFT JOIN BD_OU_DEPT deptEx ON deptEx.pk_dept = opdt.pk_dept_ex
				LEFT JOIN bd_ou_employee empEx ON empEx.PK_EMP = opdt.pk_emp_ex and empEx.DEL_FLAG = '0'
				LEFT JOIN bd_itemcate itencat on itencat.PK_ITEMCATE=opdt.PK_ITEMCATE
				LEFT JOIN bd_audit AUD on AUD.PK_AUDIT=item.PK_AUDIT
				left join  BD_DEFDOC bdDeBl on bdDeBl.code = deBl.DT_PAYMODE and bdDeBl.CODE_DEFDOCLIST = '110100'
				left join BD_DEFDOC baDefdoc on baDefdoc.code=item.dt_chcate and baDefdoc.CODE_DEFDOCLIST = '030800'
				left join BD_DEFDOC bdItemdoc on bdItemdoc.code=item.dt_itemtype  and bdItemdoc.CODE_DEFDOCLIST = '030800'
				LEFT JOIN bd_ou_employee empst ON empst.PK_EMP = SETTLE.pk_emp_st and empst.DEL_FLAG = '0'
	               where opdt.flag_pd='0' and
	           opdt.pk_cgop_back  in
	            <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
	                #{id}
	            </foreach>
	
	           	union all
					SELECT pi.mpi EMPI_ID
					, pi.code_pi PK_PATIENT
					,pv.CODE_PV ENCOUNTER_ID
					,bo.code_org ORG_CODE
					,bo.name_org ORG_NAME
					,pv.EU_PVTYPE ENCOUNTER_TYPE_CODE
					,case when pv.EU_PVTYPE='1' then '门诊' when pv.EU_PVTYPE='2' then '急诊' else '住院' end ENCOUNTER_TYPE_NAME
					,pv.CODE_PV VISIT_ID
					,op.op_times VISIT_NO
					,pi.name_pi PATIENT_NAME
					,pi.dt_sex GENDER_CODE
					,bd.name GENDER_NAME
					,pi.BIRTH_DATE as  DATE_OF_BIRTH
					,pv.age_pv AGE_YEAR
					,bdHp.code PATIENT_TYPE_CODE
					,bdHp.NAME PATIENT_TYPE_NAME
					,opdts.PK_CGOP COST_DETAIL_ID
					,blInvoice.PK_INVOICE SETTLEMENT_DETAIL_ID
					,bdDeBl.code ACCOUNT_TYPE_CODE
					,bdDeBl.NAME as ACCOUNT_TYPE_NAME
					,bdpd.CODE CHARGE_ITEM_CODE
					,bdpd.NAME CHARGE_ITEM_NAME
					,opdts.price CHARGE_ITEM_PRICE
					,opdts.price CHARGE_ITEM_ORIG_PRICE
					,opdts.quan CHARGE_QUANTITY
					,'0' HERBAL_QUANTITY
					,opdts.amount_pi CHARGE_TOTAL
					,opdts.amount_pi ORIG_CHARGE_TOTAL
					,opdts.create_time INPUT_DATE_TIME
					,empApp.CODE_EMP INPUT_DOCTOR_ID
					,empApp.NAME_EMP INPUT_DOCTOR_NAME
					,ord.create_time ENTER_DATE_TIME
					,empApp.CODE_EMP ENTER_DOCTOR_ID
					,empApp.NAME_EMP ENTER_DOCTOR_NAME
					,deptApp.CODE_DEPT APPLY_DEPT_ID
					,deptApp.NAME_DEPT APPLY_DEPT_NAME
					,empApp.CODE_EMP ACCOUNT_DEPT_ID
					,empApp.NAME_EMP ACCOUNT_DEPT_NAME
					,deptEx.CODE_DEPT EXEC_DEPT_ID
					,deptEx.NAME_DEPT EXEC_DEPT_NAME
					,opdts.date_hap EXEC_DATE_TIME
					,empEx.CODE_EMP EXEC_OPERA_ID
					,empEx.NAME_EMP EXEC_OPERA_NAME
					,empEx.CODE_EMP EXEC_WIN_NO
					,'2'  CHARGE_STATUS
					,itencat.CODE CHARGE_ITEM_CLASS_CODE
					,itencat.NAME CHARGE_ITEM_CLASS_NAME
					,bdHp.code ITEM_MI_TYPE_CODE
					,bdHp.name ITEM_MI_TYPE_NAME
					,bdinv.CODE RCPT_CLASS_CODE
					,bdinv.name RCPT_CLASS_NAME
					,AUD.CODE AUDIT_CLASS_CODE
					,AUD.NAME AUDIT_CLASS_NAME
					,AUD.CODE ACCOUNT_CLASS_CODE
					,AUD.NAME ACCOUNT_CLASS_NAME
					,baDefdoc.CODE MR_CLASS_CODE
					,baDefdoc.NAME MR_CLASS_NAME
					,'0' HQ_MAT_FLAG
					,pharmDefdoc.CODE ASSIST_DRUG_FLAG
					,'' SPECIAL_DRUG_FLAG
					,SETTLE.date_st ACCOUNT_DATE_TIME
					,opdts.date_cg CHARGE_DATE_TIME
					,empApp.CODE_EMP CHARGE_OPERA_ID
					,empApp.NAME_EMP CHARGE_OPERA_NAME
					,pay.TRADE_NO SETTLEMENT_NO
					,'1' SETTLEMENT_TIMES
					,SETTLE.date_st SETTLEMENT_DATE_TIME
					,empst.CODE_EMP SETTLEMENT_OPERA_ID
					,empst.NAME_EMP SETTLEMENT_OPERA_NAME
					,'0' MI_LIMIT_FEE
					,nvl(opdts.amount_hppi,'0') IN_MI_FEE
					,'0' OUT_MI_FEE
					,opdts.amount_pi SELF_PAYMENT_FEE
					,'' MI_STATUS
					,bdDeBl.CODE MI_CLASS_CODE
					,bdDeBl.NAME MI_CLASS_NAME
					,SETTLE.amount_disc PREFERENTIAL_FEE
					,opdts.ratio_disc PREFERENTIAL_RATE
					,'' SUB_SYSTEM_CODE
					,'' INPUT_SOURCE_CODE
					,ord.ordsn ORDER_ID
					,nvl(pay.sysname,'2000') as  SOURCE_SYSTEM_CODE
				FROM
				BL_OP_DT opdts
				left join  pv_op op on op.PK_PV = opdts.PK_PV
				left join BL_SETTLE SETTLE on SETTLE.PK_SETTLE=opdts.PK_SETTLE
				left join bl_deposit deBl on deBl.PK_SETTLE = SETTLE.PK_SETTLE
				left join  bl_deposit deBlOld on deBlOld.PK_SETTLE = SETTLE.PK_SETTLE_CANC
				left join  bl_ext_pay pay on pay.PK_depo = deBlOld.PK_depo
				INNER join BD_PD bdpd on bdpd.pk_pd=opdts.pk_pd
				left join PV_ENCOUNTER pv on pv.pk_pv=opdts.PK_PV
				left join pv_insurance pvInsur on pv.pk_pv=pvInsur.pk_pv
				left join bd_hp bdHp on bdHp.pk_hp = pv.PK_INSU
				left join bl_st_inv blStInv on SETTLE.PK_SETTLE_CANC=blStInv.PK_SETTLE
				left join bl_invoice blInvoice on blInvoice.pk_invoice=blStInv.pk_invoice
				left join bd_invcate bdinv on bdinv.PK_INVCATE = blInvoice.PK_INVOICE
				left join PI_MASTER pi on pi.PK_PI=pv.PK_PI
				left join cn_order ord on ord.pk_cnord = opdts.pk_cnord
				left join BD_OU_ORG bo on bo.pk_Org=pv.pk_org
				left join BD_DEFDOC bd on bd.code=pi.dt_sex and bd.CODE_DEFDOCLIST = '000000'
				LEFT JOIN bd_ou_employee empApp ON empApp.PK_EMP = opdts.pk_emp_app
				LEFT JOIN BD_OU_DEPT deptApp ON deptApp.pk_dept = opdts.pk_dept_app
				LEFT JOIN BD_OU_DEPT deptEx ON deptEx.pk_dept = opdts.pk_dept_ex
				LEFT JOIN bd_ou_employee empEx ON empEx.PK_EMP = opdts.pk_emp_ex
				LEFT JOIN bd_itemcate itencat on itencat.PK_ITEMCATE=opdts.PK_ITEMCATE
				left join BD_DEFDOC baDefdoc on baDefdoc.code=bdpd.dt_chcate and baDefdoc.CODE_DEFDOCLIST = '030800'
				left join  BD_DEFDOC bdDeBl on bdDeBl.code = deBl.DT_PAYMODE and bdDeBl.CODE_DEFDOCLIST = '110100'
				LEFT JOIN bd_audit AUD on AUD.PK_AUDIT=bdpd.PK_AUDIT
				LEFT JOIN bd_ou_employee empst ON empst.PK_EMP = SETTLE.pk_emp_st
				left join BD_DEFDOC pharmDefdoc on pharmDefdoc.code=bdpd.dt_pharm and pharmDefdoc.CODE_DEFDOCLIST = '030005'
	              where opdts.flag_pd='1' and opdts.pk_cgop_back  in
	                    <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
	                        #{id}
	                    </foreach>
     </select>

     <select id="queRefundSelectSettleMasterInfo"  parameterType="java.util.List" resultType="com.zebone.nhis.ma.pub.platform.pskq.model.SettlementMasterOutpat">
         select
		    pi.MPI EMPI_ID
	        ,pi.CODE_PI PK_PATIENT
	        ,org.CODE_ORG ORG_CODE
	        ,org.NAME_ORG ORG_NAME
	        ,blSet.eu_pvtype ENCOUNTER_TYPE_CODE
	        ,(case blSet.eu_pvtype when '1' then '门诊' when '2' then '急诊' when '3' then '住院' when '4' then '体检' else '其他' end) as  ENCOUNTER_TYPE_NAME
	        ,pi.NAME_PI PATIENT_NAME
	        ,bdDoc.code GENDER_CODE
	        ,bdDoc.name  GENDER_NAME
	        ,pi.BIRTH_DATE as DATE_OF_BIRTH
	        ,pv.age_pv AGE_YEAR
	        ,hp.code PATIENT_TYPE_CODE
	        ,hp.name PATIENT_TYPE_NAME
	        ,deBlRef.pk_depo SETTLEMENT_MASTER_ID
	        ,pay.TRADE_NO SETTLEMENT_NO
	        ,'1' SETTLEMENT_TIMES
	        ,bdDeBl.code ACCOUNT_TYPE_CODE
	        ,bdDeBl.NAME ACCOUNT_TYPE_NAME
	        ,blSet.DATE_ST as SETTLEMENT_DATE_TIME
	        ,empSt.CODE_EMP SETTLEMENT_OPERA_ID
	        ,empSt.NAME_EMP SETTLEMENT_OPERA_NAME
	        ,empSt.CODE_EMP SETTLEMENT_WIN_NO
	        ,blSet.AMOUNT_ST TOTAL_FEE
	        ,'2' CHARGE_STATUS
	        ,blSet.amount_insu  MI_PAYMENT_FEE
	        ,blSet.amount_pi SELF_PAYMENT_FEE
	        ,pay.SERIAL_NO as PAYMENT_NO
	        ,nvl(pay.sysname,'2000') as SOURCE_SYSTEM_CODE
	        ,case when hp.code = '01' then '0' else '1' end IS_INSURANCE
		 from BL_SETTLE blSet
		      left join  bl_op_dt opBl on opBl.PK_SETTLE = blSet.PK_SETTLE
		      left join  bl_deposit deBlRef on deBlRef.PK_SETTLE = blSet.PK_SETTLE
		      left join  bl_deposit deBl on deBl.PK_SETTLE = blSet.PK_SETTLE_CANC
		      left join  bl_ext_pay pay on deBl.PK_depo = pay.PK_depo
		      left join  PV_ENCOUNTER pv on pv.PK_PV = blSet.pk_pv
		      left join  PI_MASTER pi on pi.PK_PI = pv.PK_PI and pi.DEL_FLAG = '0'
		      left join  BD_HP hp on hp.pk_hp = pv.pk_insu
		      left join  bd_ou_org org on org.PK_ORG = blSet.PK_ORG
		      left join  BD_OU_EMPLOYEE empSt on empSt.PK_EMP = blSet.PK_EMP_ST and empSt.DEL_FLAG = '0'
		      left join  BD_DEFDOC bdDoc on bdDoc.CODE = pi.DT_SEX and bdDoc.CODE_DEFDOCLIST = '000000' and  bdDoc.DEL_FLAG = '0'
		      left join  BD_DEFDOC bdDeBl on bdDeBl.code = deBl.DT_PAYMODE and bdDeBl.CODE_DEFDOCLIST = '110100'
          where  rownum = '1' and opBl.pk_cgop_back in
          <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
             #{id}
          </foreach>
       </select>

       <select id="queRefundSelectSettleDetailInfo"  parameterType="java.util.List" resultType="com.zebone.nhis.ma.pub.platform.pskq.model.SettlementDetailOutpat">
               select DISTINCT
					pi.MPI EMPI_ID
					,pi.CODE_PI PK_PATIENT
					,org.CODE_ORG ORG_CODE
					,org.NAME_ORG ORG_NAME
					,blSet.eu_pvtype ENCOUNTER_TYPE_CODE
					,(case blSet.eu_pvtype when '1' then '门诊' when '2' then '急诊' when '3' then '住院' when '4' then '体检' else '其他' end) as  ENCOUNTER_TYPE_NAME
					,pi.NAME_PI PATIENT_NAME
					,bdDoc.code GENDER_CODE
					,bdDoc.name GENDER_NAME
					,pi.BIRTH_DATE as DATE_OF_BIRTH
					,pv.age_pv AGE_YEAR
					,hp.CODE PATIENT_TYPE_CODE
					,hp.NAME PATIENT_TYPE_NAME
					,invo.PK_INVOICE SETTLEMENT_DETAIL_ID
					,invo.URL_EBILL_CANCEL SETTLEMENT_DETAIL_PDF_URL
					,'1' SETTLEMENT_DETAIL_PDF_STATUS
					,deBlRef.pk_depo SETTLEMENT_MASTER_ID
					,'1' SETTLEMENT_TIMES
					,bdDeBl.code ACCOUNT_TYPE_CODE
					,bdDeBl.NAME ACCOUNT_TYPE_NAME
					,blSet.DATE_ST as SETTLEMENT_DATE_TIME
					,empSt.CODE_EMP  SETTLEMENT_OPERA_ID
					,empSt.NAME_EMP SETTLEMENT_OPERA_NAM
					,empSt.CODE_EMP SETTLEMENT_WIN_NO
					,bdInvcate.CODE RCPT_CLASS_CODE
					,bdInvcate.NAME RCPT_CLASS_NAME
					,blSet.AMOUNT_ST TOTAL_FEE
					,'2' CHARGE_STATUS
					,nvl(pay.sysname,'2000') as SOURCE_SYSTEM_CODE
				from BL_SETTLE blSet
				left join bl_op_dt opBl on opBl.PK_SETTLE = blSet.PK_SETTLE
				left join bl_st_inv stinv on stinv.PK_SETTLE = blSet.PK_SETTLE_CANC
				left join bl_invoice invo on invo.PK_INVOICE = stinv.PK_INVOICE
				left join  bl_deposit  deBlRef on deBlRef.PK_SETTLE = blSet.PK_SETTLE
				left join  bl_deposit  deBl on deBl.PK_SETTLE = blSet.PK_SETTLE_CANC
				left join  bl_ext_pay  pay on pay.PK_depo = deBl.pk_depo
				left join  bd_invcate  bdInvcate on bdInvcate.PK_INVCATE =invo.PK_INVCATE
				left join  PV_ENCOUNTER pv on pv.PK_PV = blSet.pk_pv
				left join  PI_MASTER pi on pi.PK_PI = pv.PK_PI and pi.DEL_FLAG = '0'
				left join  BD_HP hp on hp.pk_hp = pv.pk_insu
				left join  bd_ou_org org on org.PK_ORG = blSet.PK_ORG
				left join  BD_OU_EMPLOYEE empSt on empSt.PK_EMP = blSet.PK_EMP_ST and empSt.DEL_FLAG = '0'
				left join  BD_DEFDOC bdDoc on bdDoc.CODE = pi.DT_SEX and bdDoc.CODE_DEFDOCLIST = '000000' and  bdDoc.DEL_FLAG = '0'
				left join  BD_DEFDOC bdDeBl on bdDeBl.code = deBl.DT_PAYMODE and bdDeBl.CODE_DEFDOCLIST = '110100'
               where  opBl.pk_cgop_back in
          <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
             #{id}
          </foreach>
         </select>

    <select id="qryRisOrdInfoByPkSettle" resultType="DynaBean">
        select
          cnord.pk_cnord,
          pi.code_op as clinic_Code,
          pv.name_pi as pat_Name,
          doc.name as gender,
          to_char(pi.BIRTH_DATE,'yyyy-MM-dd') as birthday,
          nvl(pi.mobile,'无') as Tel,
          nvl(pi.ID_NO,'无') as I_D_Card,
          nvl(pi.ADDRESS ,'无') as Address,
          cnord.CODE_APPLY as Apply_Code,
          emp.CODE_EMP as Apply_Doc_No,
          emp.NAME_EMP as Apply_Doc_Name,
          diag.NAME_DIAG as Clinc_Diagnose,
          nvl(ris.note_dise ,'无') as His,
          to_char(cnord.DATE_START,'yyyy-MM-dd HH24:MI:SS') as Apply_Date,
          nvl(ris.purpose,'无') as check_Aim,
          nvl(ris.desc_body  ,'无') as bodypart
        from cn_order cnord
          inner join PV_ENCOUNTER pv on pv.pk_pv = cnord.pk_pv
          inner join PI_MASTER pi on pi.pk_pi = pv.pk_pi
          inner join pv_diag diag on diag.pk_pv = pv.pk_pv and diag.flag_maj = '1'
          inner join bd_defdoc doc on doc.code = pi.dt_sex and doc.CODE_DEFDOCLIST = '000000' and doc.del_flag = '0'
          inner join BD_OU_EMPLOYEE emp on emp.pk_emp = cnord.PK_EMP_INPUT
          left join CN_RIS_APPLY ris on ris.PK_CNORD = cnord.pk_cnord
          inner join (
            select dt.PK_CNORD from bl_op_dt dt
              inner join bl_settle st on st.PK_SETTLE = dt.PK_SETTLE
            where st.PK_SETTLE = #{pkSettle,jdbcType=CHAR}
            group by PK_CNORD
          ) stdt on stdt.pk_cnord = cnord.pk_cnord
          where cnord.code_ordtype like '02%'
    </select>

    <select id="qryOpdtByPkCnord" resultType="com.zebone.nhis.ma.pub.platform.send.impl.pskq.model.StExItemInfoVo">
        select
          case when dt.flag_pd = '1' then pd.code else item.code end as Check_Project,
          case when dt.flag_pd = '1' then pd.NAME else item.name end as Project_Name,
          dt.amount as Project_Price
        from bl_op_dt dt
          left join bd_item item on item.PK_ITEM = dt.pk_item
          left join bd_pd pd on pd.pk_pd = dt.pk_item
        where pk_cnord = #{pkCnord,jdbcType=CHAR}
    </select>
</mapper>