<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.ma.pub.platform.send.impl.pskq.dao.PskqPlatFormSendBdMapper">
    <resultMap id="BaseResultBdItemMap" type="com.zebone.nhis.ma.pub.platform.pskq.model.PriceItem">
        <result column="PRICE_CODE" jdbcType="VARCHAR" property="priceCode" />
        <result column="PRICE_NAME" jdbcType="VARCHAR" property="priceName" />
        <result column="SPELL_CODE" jdbcType="VARCHAR" property="spellCode" />
        <result column="WB_CODE" jdbcType="VARCHAR" property="wbCode" />
        <result column="CUSTOM_CODE" jdbcType="VARCHAR" property="customCode" />
        <result column="UNIT" jdbcType="VARCHAR" property="unit" />
        <result column="UNIT_PRICE1" jdbcType="VARCHAR" property="unitPrice1" />
        <result column="UNIT_PRICE2" jdbcType="VARCHAR" property="unitPrice2" />
        <result column="UNIT_PRICE3" jdbcType="VARCHAR" property="unitPrice3" />
        <result column="UNIT_PRICE4" jdbcType="VARCHAR" property="unitPrice4" />
        <result column="ACCOUNT_CLASS_CODE" jdbcType="VARCHAR" property="accountClassCode" />
        <result column="ACCOUNT_CLASS_NAME" jdbcType="VARCHAR" property="accountClassName" />
        <result column="MR_CLASS_CODE" jdbcType="VARCHAR" property="mrClassCode" />
        <result column="MR_CLASS_NAME" jdbcType="VARCHAR" property="mrClassName" />
        <result column="RCPT_CLASS_CODE" jdbcType="VARCHAR" property="rcptClassCode" />
        <result column="RCPT_CLASS_NAME" jdbcType="VARCHAR" property="rcptClassName" />
        <result column="PROJECT_CONNOTATION" jdbcType="VARCHAR" property="projectConnotation" />
        <result column="EXCEPTED" jdbcType="VARCHAR" property="excepted" />
        <result column="PROJECT_DESCRIPTION" jdbcType="VARCHAR" property="projectDescription" />
        <result column="CANCEL_FLAG" jdbcType="BIT" property="cancelFlag" />
        <result column="ENABLE_DUCOMENT_NUMBER" jdbcType="VARCHAR" property="enableDucomentNumber" />
        <result column="ENABLE_DATE_TIME" jdbcType="TIMESTAMP" property="enableDateTime" />
        <result column="DISABLE_DOCUMENT_NUMBER" jdbcType="VARCHAR" property="disableDocumentNumber" />
        <result column="DISABLE_DATE_TIME" jdbcType="TIMESTAMP" property="disableDateTime" />
        
        <result column="ENTER_OPERA_ID" jdbcType="VARCHAR" property="enterOperaId" />
        <result column="ENTER_OPERA_NAME" jdbcType="VARCHAR" property="enterOperaName" />
        <result column="ENTER_DATE_TIME" jdbcType="TIMESTAMP" property="enterDateTime" />
        
        <result column="MODIFY_OPERA_ID" jdbcType="VARCHAR" property="modifyOperaId" />
        <result column="MODIFY_OPERA_NAME" jdbcType="VARCHAR" property="modifyOperaName" />
        <result column="MODIFY_DATE_TIME" jdbcType="TIMESTAMP" property="modifyDateTime" />
        
    </resultMap>
    <resultMap id="BaseResultBdOrdMap" type="com.zebone.nhis.ma.pub.platform.pskq.model.OrderItem">
        <result column="ORDER_ITEM_ID" jdbcType="VARCHAR" property="orderItemId" />
        <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
        <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
        <result column="ORDER_ITEM_CODE" jdbcType="VARCHAR" property="orderItemCode" />
        <result column="ORDER_ITEM_NAME" jdbcType="VARCHAR" property="orderItemName" />
        <result column="ORDER_ITEM_DESC" jdbcType="VARCHAR" property="orderItemDesc" />
        <result column="PRINT_NAME" jdbcType="VARCHAR" property="printName" />
        <result column="SPELL_CODE" jdbcType="VARCHAR" property="spellCode" />
        <result column="WB_CODE" jdbcType="VARCHAR" property="wbCode" />
        <result column="CUSTOM_CODE" jdbcType="VARCHAR" property="customCode" />
        <result column="ORDER_CATEGORY_CODE" jdbcType="VARCHAR" property="orderCategoryCode" />
        <result column="ORDER_CATEGORY_NAME" jdbcType="VARCHAR" property="orderCategoryName" />
        
        <result column="ORDER_ITEM_TYPE_CODE" jdbcType="VARCHAR" property="orderItemTypeCode" />
        <result column="ORDER_ITEM_TYPE_NAME" jdbcType="VARCHAR" property="orderItemTypeName" />
        
        <result column="OUTPATIENT_FLAG" jdbcType="BIT" property="outpatientFlag" />
        <result column="EMERGENCY_FLAG" jdbcType="BIT" property="emergencyFlag" />
        <result column="INPATIENT_FLAG" jdbcType="BIT" property="inpatientFlag" />
        <result column="PHYSICAL_FLAG" jdbcType="BIT" property="physicalFlag" />
        <result column="EMER_FLAG" jdbcType="BIT" property="emerFlag" />
        
        <result column="SUIT_CROWD_CODE" jdbcType="VARCHAR" property="suitCrowdCode" />
        <result column="ORG_ORDER_ITEM_PRICE" jdbcType="VARCHAR" property="orgOrderItemPrice" />
        <result column="EXEC_DEPT_ID" jdbcType="VARCHAR" property="execDeptId" />
        <result column="EXEC_DEPT_NAME" jdbcType="VARCHAR" property="execDeptName" />
        <result column="SOURCE_SYSTEM_CODE" jdbcType="VARCHAR" property="sourceSystemCode" />
        <result column="EXEC_SYSTEM_CODE" jdbcType="VARCHAR" property="execSystemCode" />
        <result column="EFFECTIVE_DATE_TIME" jdbcType="TIMESTAMP" property="effectiveDateTime" />
        <result column="INEFFECTIVE_DATE_TIME" jdbcType="TIMESTAMP" property="ineffectiveDateTime" />
        
        <result column="ENTER_OPERA_ID" jdbcType="VARCHAR" property="enterOperaId" />
        <result column="ENTER_OPERA_NAME" jdbcType="VARCHAR" property="enterOperaName" />
        <result column="ENTER_DATE_TIME" jdbcType="TIMESTAMP" property="enterDateTime" />
        
        <result column="MODIFY_OPERA_ID" jdbcType="VARCHAR" property="modifyOperaId" />
        <result column="MODIFY_OPERA_NAME" jdbcType="VARCHAR" property="modifyOperaName" />
        <result column="MODIFY_DATE_TIME" jdbcType="TIMESTAMP" property="modifyDateTime" />
        
        <result column="CHECK_OPERA_ID" jdbcType="VARCHAR" property="checkOperaId" />
        <result column="CHECK_OPERA_NAME" jdbcType="VARCHAR" property="checkOperaName" />
        <result column="CHECK_DATE_TIME" jdbcType="TIMESTAMP" property="checkDateTime" />
        <result column="REVIEW_FLAG" jdbcType="VARCHAR" property="reviewFlag" />
        
        <result column="REVIEW_OPERA_ID" jdbcType="VARCHAR" property="reviewOperaId" />
        <result column="REVIEW_OPERA_NAME" jdbcType="VARCHAR" property="reviewOperaName" />
        <result column="REVIEW_DATE_TIME" jdbcType="TIMESTAMP" property="reviewDateTime" />
        <result column="CANCEL_FLAG" jdbcType="BIT" property="cancelFlag" />
        
        <result column="CANCEL_OPERA_ID" jdbcType="VARCHAR" property="cancelOperaId" />
        <result column="CANCEL_OPERA_NAME" jdbcType="VARCHAR" property="cancelOperaName" />
        <result column="CANCEL_DATE_TIME" jdbcType="TIMESTAMP" property="cancelDateTime" />
        <result column="CANCEL_REASON_DESC" jdbcType="VARCHAR" property="cancelReasonDesc" />
        
    </resultMap>
    <resultMap id="BaseResultBdPdMap" type="com.zebone.nhis.ma.pub.platform.pskq.model.DrugItem">
        <result column="DRUG_CODE" jdbcType="VARCHAR" property="drugCode" />
        <result column="TRADE_NAME" jdbcType="VARCHAR" property="tradeName" />
        <result column="SPELL_CODE" jdbcType="VARCHAR" property="spellCode" />
        <result column="WB_CODE" jdbcType="VARCHAR" property="wbCode" />
        <result column="REGULAR_NAME" jdbcType="VARCHAR" property="regularName" />
        <result column="REGULAR_SPELL" jdbcType="VARCHAR" property="regularSpell" />
        <result column="REGULAR_WB" jdbcType="VARCHAR" property="regularWb" />
        <result column="REGULAR_CUSTOM" jdbcType="VARCHAR" property="regularCustom" />
        <result column="FORMAL_NAME" jdbcType="VARCHAR" property="formalName" />
        <result column="FORMAL_SPELL" jdbcType="VARCHAR" property="formalSpell" />
        <result column="FORMAL_WB" jdbcType="VARCHAR" property="formalWb" />
        <result column="FORMAL_CUSTOM" jdbcType="VARCHAR" property="formalCustom" />
        <result column="OTHER_NAME" jdbcType="VARCHAR" property="otherName" />
        <result column="OTHER_SPELL" jdbcType="VARCHAR" property="otherSpell" />
        <result column="OTHER_WB" jdbcType="VARCHAR" property="otherWb" />
        <result column="OTHER_CUSTOM" jdbcType="VARCHAR" property="otherCustom" />
        <result column="ENGLISH_REGULAR" jdbcType="VARCHAR" property="englishRegular" />
        <result column="ENGLISH_OTHER" jdbcType="VARCHAR" property="englishOther" />
        <result column="ENGLISH_NAME" jdbcType="VARCHAR" property="englishName" />
        <result column="INTERNATIONAL_CODE" jdbcType="VARCHAR" property="internationalCode" />
        <result column="GB_CODE" jdbcType="VARCHAR" property="gbCode" />
        <result column="CLASS_CODE" jdbcType="VARCHAR" property="classCode" />
        <result column="FEE_CODE" jdbcType="VARCHAR" property="feeCode" />
        <result column="DRUG_TYPE" jdbcType="VARCHAR" property="drugType" />
        <result column="DRUG_QUALITY" jdbcType="VARCHAR" property="drugQuality" />
        <result column="ITEM_GRADE" jdbcType="VARCHAR" property="itemGrade" />
        <result column="SPECS" jdbcType="VARCHAR" property="specs" />
        <result column="RETAIL_PRICE" jdbcType="VARCHAR" property="retailPrice" />
        <result column="WHOLESALE_PRICE" jdbcType="VARCHAR" property="wholesalePrice" />
        <result column="PURCHASE_PRICE" jdbcType="VARCHAR" property="purchasePrice" />
        <result column="TOP_RETAILPRICE" jdbcType="VARCHAR" property="topRetailprice" />
        <result column="PACK_UNIT" jdbcType="VARCHAR" property="packUnitl" />
        <result column="PACK_QTY" jdbcType="VARCHAR" property="packQty" />
        <result column="MIN_UNIT" jdbcType="VARCHAR" property="minUnit" />
        <result column="DOSE_MODEL_CODE" jdbcType="VARCHAR" property="doseModelCode" />
        <result column="BASE_DOSE" jdbcType="VARCHAR" property="baseDose" />
        <result column="DOSE_UNIT" jdbcType="VARCHAR" property="doseUnit" />
        <result column="USAGE_CODE" jdbcType="VARCHAR" property="usageCode" />
        <result column="FREQUENCY_CODE" jdbcType="VARCHAR" property="frequencyCode" />
        <result column="ONCE_DOSE" jdbcType="VARCHAR" property="onceDose" />
        <result column="CAUTION" jdbcType="VARCHAR" property="caution" />
        <result column="PHY_FUNCTION1" jdbcType="VARCHAR" property="phyFunction1" />
        <result column="PHY_FUNCTION3" jdbcType="VARCHAR" property="phyFunction3" />
        <result column="VALID_STATE" jdbcType="VARCHAR" property="validState" />
        <result column="SELF_FLAG" jdbcType="VARCHAR" property="selfFlag" />
        <result column="OCT_FLAG" jdbcType="VARCHAR" property="octFlag" />
        <result column="GMP_FLAG" jdbcType="VARCHAR" property="gmpFlag" />
        <result column="TEST_FLAG" jdbcType="VARCHAR" property="testFlag" />
        <result column="NEW_FLAG" jdbcType="VARCHAR" property="newFlag" />
        <result column="APPEND_FLAG" jdbcType="VARCHAR" property="appendFlag" />
        <result column="LACK_FLAG" jdbcType="VARCHAR" property="lackFlag" />
        <result column="SHOW_FLAG" jdbcType="VARCHAR" property="showFlag" />
        <result column="TENDER_FLAG" jdbcType="VARCHAR" property="tenderFlag" />
        <result column="TENDER_PRICE" jdbcType="VARCHAR" property="tenderPrice" />
        <result column="TENDER_COMPANY" jdbcType="VARCHAR" property="tenderCompany" />
        <result column="TENDER_BEGINDATE" jdbcType="VARCHAR" property="tenderBegindate" />
        <result column="TENDER_ENDDATE" jdbcType="VARCHAR" property="tenderEnddate" />
        <result column="COMPANY_CODE" jdbcType="VARCHAR" property="companyCode" />
        <result column="PRICE_FORM" jdbcType="VARCHAR" property="priceForm" />
        <result column="CONTRACT_CODE" jdbcType="VARCHAR" property="contractCode" />
        <result column="PRODUCING_AREA" jdbcType="VARCHAR" property="producingArea" />
        <result column="PRODUCER_CODE" jdbcType="VARCHAR" property="producerCode" />
        <result column="APPROVE_INFO" jdbcType="VARCHAR" property="approveInfo" />
        <result column="LABEL" jdbcType="VARCHAR" property="label" />
        <result column="INGREDIENT" jdbcType="VARCHAR" property="ingredient" />
        <result column="EXECUTE_STANDARD" jdbcType="VARCHAR" property="executeStandard" />
        <result column="STORE_CONDITION" jdbcType="VARCHAR" property="storeCondition" />
        <result column="BRIEF_INTRODUCTION" jdbcType="VARCHAR" property="briefIntroduction" />
        <result column="MANUAL" jdbcType="VARCHAR" property="manual" />
        <result column="BAR_CODE" jdbcType="VARCHAR" property="barCode" />
        <result column="OLD_DRUG_CODE" jdbcType="VARCHAR" property="oldDrugCode" />
        <result column="MARK" jdbcType="VARCHAR" property="mark" />
        <result column="OPER_CODE" jdbcType="VARCHAR" property="operCode" />
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate" />
        <result column="SPECIAL_FLAG" jdbcType="VARCHAR" property="specialFlag" />
        <result column="SPECIAL_FLAG1" jdbcType="VARCHAR" property="specialFlag1" />
        <result column="SPECIAL_FLAG2" jdbcType="VARCHAR" property="specialFlag2" />
        <result column="SPECIAL_FLAG3" jdbcType="VARCHAR" property="specialFlag3" />
        <result column="SPECIAL_FLAG4" jdbcType="VARCHAR" property="specialFlag4" />
        <result column="SHIFT_TYPE" jdbcType="VARCHAR" property="shiftType" />
        <result column="SHIFT_DATE" jdbcType="VARCHAR" property="shiftDate" />
        <result column="SHIFT_MARK" jdbcType="VARCHAR" property="shiftMark" />
        <result column="TRADE_PICTURE" jdbcType="VARCHAR" property="tradePicture" />
        <result column="SPLIT_TYPE" jdbcType="VARCHAR" property="splitType" />
        <result column="NOSTRUM_FLAG" jdbcType="VARCHAR" property="nostrumFlag" />
        <result column="EXTEND1" jdbcType="VARCHAR" property="extend1" />
        <result column="EXTEND2" jdbcType="VARCHAR" property="extend2" />
        <result column="EXTEND3" jdbcType="VARCHAR" property="extend3" />
        <result column="EXTEND4" jdbcType="VARCHAR" property="extend4" />
        
        <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
        <result column="DRUG_TYPETWO" jdbcType="VARCHAR" property="drugTypetwo" />
        <result column="RETAIL_PRICE2" jdbcType="VARCHAR" property="retailPrice2" />
        <result column="EXT_NUM1" jdbcType="VARCHAR" property="extNum1" />
        <result column="EXT_NUM2" jdbcType="VARCHAR" property="extNum2" />
        <result column="CDSPLIT_TYPE" jdbcType="VARCHAR" property="cdsplitType" />
        <result column="LZSPLIT_TYPE" jdbcType="VARCHAR" property="lzsplitType" />
        <result column="SECOND_BASE_DOSE" jdbcType="VARCHAR" property="secondBaseDose" />
        <result column="SECOND_DOSE_UNIT" jdbcType="VARCHAR" property="secondDoseUnit" />
        <result column="ONCE_DOSE_UNIT" jdbcType="VARCHAR" property="onceDoseUnit" />
        <result column="ATC_NO" jdbcType="VARCHAR" property="atcNo" />
        <result column="USESCOPE" jdbcType="VARCHAR" property="usescope" />
        <result column="BIGPACKUNIT" jdbcType="VARCHAR" property="bigpackunit" />
        <result column="BIGPACKQTY" jdbcType="VARCHAR" property="bigpackqty" />
        <result column="RETAIL_PRICE1" jdbcType="VARCHAR" property="retailPrice1" />
        <result column="DOCTOR_GRADE" jdbcType="VARCHAR" property="doctorGrade" />
        <result column="PIVAS_FORCE_FLAG" jdbcType="VARCHAR" property="pivasForceFlag" />
        <result column="PIVAS_DRUG_TYPE" jdbcType="VARCHAR" property="pivasDrugType" />
        <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
        
    </resultMap>


    <resultMap id="BaseResultMainDataMap" type="com.zebone.nhis.ma.pub.platform.pskq.model.MainData">
        <id column="master_member_id" jdbcType="VARCHAR" property="masterMemberId" />
        <result column="delete_flag" jdbcType="VARCHAR" property="deleteFlag" />
        <result column="enter_date_time" jdbcType="TIMESTAMP" property="enterDateTime" />
        <result column="enter_opera_id" jdbcType="VARCHAR" property="enterOperaId" />
        <result column="enter_opera_name" jdbcType="VARCHAR" property="enterOperaName" />
        <result column="master_definition_code" jdbcType="VARCHAR" property="masterDefinitionCode" />
        <result column="master_definition_name" jdbcType="VARCHAR" property="masterDefinitionName" />
        <result column="master_member_code" jdbcType="VARCHAR" property="masterMemberCode" />
        <result column="master_member_name" jdbcType="VARCHAR" property="masterMemberName" />
        <result column="master_member_status_code" jdbcType="VARCHAR" property="masterMemberStatusCode" />
        <result column="master_member_status_name" jdbcType="VARCHAR" property="masterMemberStatusName" />
        <result column="modify_date_time" jdbcType="TIMESTAMP" property="modifyDateTime" />
        <result column="modify_opera_id" jdbcType="VARCHAR" property="modifyOperaId" />
        <result column="modify_opera_name" jdbcType="VARCHAR" property="modifyOperaName" />
        <result column="sort_no" jdbcType="VARCHAR" property="sortNo" />
        <result column="spell_code" jdbcType="VARCHAR" property="spellCode" />
        <result column="valid_state" jdbcType="VARCHAR" property="validState" />
    </resultMap>


    <resultMap id="BaseResultBdDefDocMap" type="com.zebone.nhis.ma.pub.platform.send.impl.pskq.vo.BdDefdocVO">
        <id column="PK_DEFDOC" jdbcType="CHAR" property="pkDefdoc" />
        <result column="PK_ORG" jdbcType="CHAR" property="pkOrg" />
        <result column="CODE_DEFDOCLIST" jdbcType="VARCHAR" property="codeDefdoclist" />
        <result column="CODE" jdbcType="VARCHAR" property="code" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="SHORTNAME" jdbcType="VARCHAR" property="shortname" />
        <result column="PY_CODE" jdbcType="VARCHAR" property="pyCode" />
        <result column="D_CODE" jdbcType="VARCHAR" property="dCode" />
        <result column="MEMO" jdbcType="VARCHAR" property="memo" />
        <result column="CREATOR" jdbcType="CHAR" property="creator" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="DEL_FLAG" jdbcType="CHAR" property="delFlag" />
        <result column="FLAG_DEF" jdbcType="VARCHAR" property="flagDef" />
        <result column="TS" jdbcType="TIMESTAMP" property="ts" />
        <result column="CODE_PARENT" jdbcType="VARCHAR" property="codeParent" />
        <result column="PK_DEFDOCLIST" jdbcType="CHAR" property="pkDefdoclist" />
        <result column="SPCODE" jdbcType="VARCHAR" property="spcode" />
        <result column="MODIFIER" jdbcType="CHAR" property="modifier" />
        <result column="MODITY_TIME" jdbcType="TIMESTAMP" property="modityTime" />
        <result column="EU_TYPE" jdbcType="VARCHAR" property="euType" />
        <result column="CODE_STD" jdbcType="VARCHAR" property="codeStd" />
        <result column="OLD_ID" jdbcType="VARCHAR" property="oldId" />
        <result column="NAME_STD" jdbcType="VARCHAR" property="nameStd" />
        <result column="ATTR_DESC" jdbcType="VARCHAR" property="attrDesc" />
        <result column="VAL_ATTR" jdbcType="VARCHAR" property="valAttr" />
        <result column="FLAG_SYS" jdbcType="CHAR" property="flagSys" />
    </resultMap>
    
    <resultMap id="BaseResultBdMaterMap" type="com.zebone.nhis.ma.pub.platform.pskq.model.MaterialItem">
        <result column="MATERIAL_ID" jdbcType="VARCHAR" property="materialId" />
        <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
        <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
        <result column="MATERIAL_CODE" jdbcType="VARCHAR" property="materialCode" />
        <result column="MATERIAL_NAME" jdbcType="VARCHAR" property="materialName" />
        <result column="MATERIAL_TYPE_CODE" jdbcType="VARCHAR" property="materialTypeCode" />
        <result column="MATERIAL_TYPE_NAME" jdbcType="VARCHAR" property="materialTypeName" />
        <result column="SPECS" jdbcType="VARCHAR" property="specs" />
        <result column="MATERIAL_MODEL" jdbcType="VARCHAR" property="materialModel" />
        <result column="UNIT" jdbcType="VARCHAR" property="unit" />
        <result column="MATERIAL_BRAND" jdbcType="VARCHAR" property="materialBrand" />
        <result column="DOMESTIC_IMPORTED" jdbcType="VARCHAR" property="domesticImported" />
        <result column="ALIAS" jdbcType="VARCHAR" property="alias" />
        <result column="PRODUCER_NAME" jdbcType="VARCHAR" property="producerName" />
        <result column="IS_CHARGE" jdbcType="VARCHAR" property="isCharge" />
        <result column="IS_PACK" jdbcType="VARCHAR" property="isPack" />
        <result column="IS_HIGHVALUE" jdbcType="VARCHAR" property="isHighvalue" />
        <result column="CHARGE_ITEM_CODE" jdbcType="VARCHAR" property="chargeItemCode" />
        <result column="CHARGE_ITEM_NAME" jdbcType="VARCHAR" property="chargeItemName" />
        <result column="ACCOUNT_CLASS_CODE" jdbcType="VARCHAR" property="accountClassCode" />
        <result column="ACCOUNT_CLASS_NAME" jdbcType="VARCHAR" property="accountClassName" />
        <result column="VALID_STATE" jdbcType="VARCHAR" property="validState" />
        
    </resultMap>
    <sql id="Base_Column_BdDefDoc_List">
    PK_DEFDOC, PK_ORG, CODE_DEFDOCLIST, CODE, "NAME", SHORTNAME, PY_CODE, D_CODE,
    MEMO, CREATOR, CREATE_TIME, DEL_FLAG, FLAG_DEF, TS, CODE_PARENT, PK_DEFDOCLIST, SPCODE,
    MODIFIER, MODITY_TIME, EU_TYPE, CODE_STD, OLD_ID, NAME_STD, ATTR_DESC, VAL_ATTR,
    FLAG_SYS
  </sql>


    <select id="getBdItemInfo" parameterType = "java.util.Map" resultMap="BaseResultBdItemMap">
        select bi.code PRICE_CODE,bi.name PRICE_NAME,bi.SPCODE SPELL_CODE,bi.D_CODE CUSTOM_CODE, bu.NAME UNIT,bi.price UNIT_PRICE1
			,ba.code ACCOUNT_CLASS_CODE,ba.name ACCOUNT_CLASS_NAME,def.CODE MR_CLASS_CODE,def.name MR_CLASS_NAME
			,bi.DESC_ITEM PROJECT_CONNOTATION,bi.EXCEPT_ITEM EXCEPTED,bi.NOTE PROJECT_DESCRIPTION,bi.DEL_FLAG CANCEL_FLAG
			,ce.CODE_EMP ENTER_OPERA_ID,ce.name_emp ENTER_OPERA_NAME,bi.CREATE_TIME ENTER_DATE_TIME
			,ue.CODE_emp MODIFY_OPERA_ID,ue.name_emp MODIFY_OPERA_NAME,bi.ts MODIFY_DATE_TIME
		from BD_ITEM bi
		left join BD_UNIT bu on bu.PK_UNIT=bi.PK_UNIT
		left join BD_AUDIT ba on ba.PK_AUDIT=bi.PK_AUDIT
		left join bd_defdoc def on bi.DT_CHCATE = def.CODE and def.code_defdoclist='030800'
		left join BD_OU_EMPLOYEE ce on ce.pk_emp=bi.CREATOR
		left join BD_OU_EMPLOYEE ue on ue.pk_emp=bi.MODIFIER
        WHERE bi.pk_item = #{pkItem,jdbcType=CHAR}
    </select>
	
    <select id="getBdOrdInfo" parameterType = "java.util.Map" resultMap="BaseResultBdOrdMap">
        select bo.code ORDER_ITEM_ID,bo.code ORDER_ITEM_CODE,bo.name ORDER_ITEM_NAME,bo.DESC_ORD ORDER_ITEM_DESC
			,bo.NAME_PRT PRINT_NAME,bo.SPCODE SPELL_CODE,bo.D_CODE CUSTOM_CODE,def.code ORDER_CATEGORY_CODE
			,def.name ORDER_CATEGORY_NAME,bo.FLAG_OP OUTPATIENT_FLAG,bo.FLAG_ER EMERGENCY_FLAG,bo.FLAG_IP INPATIENT_FLAG
			,bo.FLAG_PE PHYSICAL_FLAG,bo.DEL_FLAG CANCEL_FLAG
			,ce.CODE_EMP ENTER_OPERA_ID,ce.name_emp ENTER_OPERA_NAME,bo.CREATE_TIME ENTER_DATE_TIME
			,ue.CODE_emp MODIFY_OPERA_ID,ue.name_emp MODIFY_OPERA_NAME,bo.ts MODIFY_DATE_TIME
		from BD_ORD bo 
		left join bd_defdoc def on bo.DT_ORDCATE = def.CODE and def.code_defdoclist='030000'  and def.DEL_FLAG='0'
		left join BD_OU_EMPLOYEE ce on ce.pk_emp=bo.CREATOR and ce.DEL_FLAG='0' 
		left join BD_OU_EMPLOYEE ue on ue.pk_emp=bo.MODIFIER and ue.DEL_FLAG='0'
        WHERE bo.pk_ord = #{pkOrd,jdbcType=CHAR}
    </select>
    <select id="getBdPdInfo" parameterType = "java.util.Map" resultMap="BaseResultBdPdMap">
        select bp.CODE DRUG_CODE,bp.name TRADE_NAME,bp.SPCODE SPELL_CODE
     ,bp.NAME_CHEM REGULAR_NAME,bp.CODE_STD GB_CODE,bp.EU_DRUGTYPE DRUG_TYPE
     ,bp.spec SPECS,bp.PRICE RETAIL_PRICE,bu.name PACK_UNIT,bp.PACK_SIZE PACK_QTY
     ,bp.DT_DOSAGE DOSE_MODEL_CODE,bp.EU_USECATE USAGE_CODE,bp.CODE_FREQ FREQUENCY_CODE
     ,bp.DOSAGE_DEF ONCE_DOSE,bp.NOTE CAUTION,def1.name PHY_FUNCTION1,bp.FLAG_ST TEST_FLAG
     ,case when bp.FLAG_STOP='1' THEN '0' ELSE '1' end VALID_STATE
     ,case when bp.DT_MADE='02' then '1' else '0'  end SELF_FLAG
     ,bp.EU_PDPRICE PRICE_FORM,bf.NAME PRODUCER_CODE,bp.APPR_NO APPROVE_INFO
     ,def2.name STORE_CONDITION,bp.note BRIEF_INTRODUCTION,bp.NOTE MARK
     ,ue.name_emp OPER_CODE,bp.ts OPER_DATE,bp.CREATE_TIME CREATE_TIME
     ,bu1.NAME ONCE_DOSE_UNIT,bp.DT_ANTI ATC_NO,bu.NAME BIGPACKUNIT
     ,bp.PACK_SIZE_MAX BIGPACKQTY,bp.PRICE RETAIL_PRICE1
     ,bp.BARCODE BAR_CODE,bu2.name MIN_UNIT,'0' RETAIL_PRICE2,'0' WHOLESALE_PRICE,'0' PURCHASE_PRICE,'0' TOP_RETAILPRICE,'0' BASE_DOSE,
     '0' SECOND_BASE_DOSE,'0' TENDER_PRICE
from bd_pd bp

         left join BD_UNIT bu on bu.pk_unit=bp.PK_UNIT_PACK
         left join bd_defdoc def on bp.DT_DOSAGE = def.CODE and def.code_defdoclist='030400'
         left join bd_defdoc def1 on bp.DT_PHARM = def1.CODE and def1.code_defdoclist='030402'
         left join BD_FACTORY bf on bf.PK_FACTORY=bp.PK_FACTORY
         left join bd_defdoc def2 on bp.DT_STORETYPE = def2.CODE and def2.code_defdoclist='080012'
         left join BD_OU_EMPLOYEE ue on ue.pk_emp=bp.MODIFIER
         left join BD_UNIT bu1 on bu1.pk_unit=bp.PK_UNIT_DEF
         left join BD_UNIT bu2 on bu2.pk_unit=bp.PK_UNIT_MIN
    	 WHERE bp.PK_PD = #{pkPd,jdbcType=CHAR}
    </select>
    <select id="getBdMaterInfo" parameterType = "java.util.Map" resultMap="BaseResultBdMaterMap">
       select bp.CODE MATERIAL_ID,bp.CODE MATERIAL_CODE,bp.name MATERIAL_NAME
			,def.code MATERIAL_TYPE_CODE,def.NAME MATERIAL_TYPE_NAME,bp.SPEC SPECS
			,bu.name UNIT,bf.NAME MATERIAL_BRAND,bps.ALIAS ALIAS
			,case when bp.DT_ABRD ='02' then '1' ELSE '0' end DOMESTIC_IMPORTED
			,bf.NAME PRODUCER_NAME,bp.FLAG_PRECIOUS IS_HIGHVALUE
			,bi.CODE CHARGE_ITEM_CODE,bi.NAME CHARGE_ITEM_NAME
			,ba.code ACCOUNT_CLASS_CODE,ba.name ACCOUNT_CLASS_NAME
			,case when bp.FLAG_STOP='1' THEN '0' ELSE '1' end VALID_STATE
		from bd_pd bp 
		left join bd_defdoc def on bp.DT_PDTYPE = def.CODE and def.code_defdoclist='080001'
		left join BD_PD_AS bps on bps.PK_PD=bp.PK_PD and bps.DEL_FLAG='0'
		left join BD_UNIT bu on bu.pk_unit=bp.PK_UNIT_MIN
		left join BD_FACTORY bf on bf.PK_FACTORY=bp.PK_FACTORY
		left join bd_item bi on bi.pk_item=bp.pk_item
		left join BD_AUDIT ba on ba.PK_AUDIT=bi.PK_AUDIT
     	WHERE bp.PK_PD = #{pkPd,jdbcType=CHAR}
    </select>

    <select id="getBdDefdocList" parameterType = "java.util.List" resultMap="BaseResultBdDefDocMap">
        select
        <include refid="Base_Column_BdDefDoc_List" />
        from BD_DEFDOC where pk_defdoc in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>
