<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>表单</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
   <link href="${ctx}/ui/css/main.css" rel="stylesheet" type="text/css" />
   <link href="${ctx}/ui/css/custom_icons.css" rel="stylesheet" type="text/css" />
    <script src="${ctx}/ui/boot.js" type="text/javascript"></script>
    
    <style type="text/css">
          html, body{
	        margin:0;padding:0;border:0;width:100%;height:100%;overflow:hidden;
	    }  
	       
    </style>        
</head>
<body>
<div class="zbui-splitter" style="width:100%;height:100%;" borderStyle="border:0;">
		<!-- splitter左侧 -->
		<div size="240" showCollapseButton="true" style="border:1px solid #909aa6;">
			<div class="zbui-toolbar" style="padding:2px;border-top:0;border-left:0;border-right:0;">
			        <span style="padding-left:5px;">模块：</span>
		            <input id="modulesearch" class="zbui-textbox" name="id" width="120"/>
		            <a class="zbui-button" iconCls="icon-find" plain="true" id="module_search">查找</a> 
	    	</div>
	    	
	    	<div class="zbui-fit"  >
	            <ul id="mtree" class="zbui-tree" url="${ctx}/transcode/gettranscodeSetToShow" style="width:100%;"
	                showTreeIcon="true" expandOnLoad="0" textField="textshow" idField="id" parentField="pid" resultAsTree="false">        
	            </ul>
	            
	        </div>
	        
		</div>
		<!-- splitter右侧-->
		<div>
	    <div class="zbui-toolbar" style="padding:2px;border-left:0;">
	                <a class="zbui-button" iconCls="icon-add" plain="true" id="btn_add">新增</a>
	                <span class="separator"></span>
	                <a class="zbui-button" iconCls="icon-edit" plain="true" id="btn_edit">修改</a>
	                <span class="separator"></span>
	                <a class="zbui-button" iconCls="icon-remove" plain="true" id="btn_del">删除</a>
	                <span class="separator"></span>
			       <a class="zbui-button" iconCls="icon-search" plain="true" id="button_load">查询</a>
			       <span class="separator"></span>
			       <a class="zbui-button" iconCls="icon-test" plain="true" id="btn_test">测试</a>
			       <span class="separator"></span>
			       <a class="zbui-button" iconCls="icon-reload" plain="true" id="btn-reset">重置代理</a>
			       <span class="separator"></span>
			       <a class="zbui-button" iconCls="icon-cache" plain="true" id="btn-cache">清除缓存</a>
	    </div>
	
	     <div id="queryform" style="border-right:1px solid #909aa6;height:30px;padding:5px;">
	        <table >
	            <tr>
	                <td  width="50">交易号：</td>
	                <td  width="100">
	                		<input id="codesearch" class="zbui-textbox" name="transcode" emptyText="请输入交易号" style="width:100px;"/>
	                </td>
	                <td  width="60">功能名称：</td>
	                <td  width="100">
	                		<input class="zbui-textbox" name="name" style="width:100px;"/>
	                </td>
	                <td  width="50">状&nbsp;&nbsp;&nbsp;态：</td>
	                <td>
			                <input id="zt" name="zt" class="zbui-combobox" style="width:60px;"
		                    textField="typedesc" valueField="zttypename" allowInput="true" value="all"
		                     url="${ctx}/transdict/getZtListToSearch"/>
	                </td>
	            </tr>
	        </table>
	    </div>
	    
	    <!--撑满页面-->
	    <div class="zbui-fit" >
	        
	        <div id="datagrid1" class="zbui-datagrid" style="width:100%;height:100%;" 
	            url="${ctx}/transcode/getTranscodePage"  idField="id" borderStyle="border-left:0;"
	            sizeList="[5,10,20,50]" pageSize="20"
	        >
	            <div property="columns">
	                <div type="indexcolumn" ></div>
	                <div type="checkcolumn" ></div>    
	                <div field="transcode" headerAlign="center" width="100px">交易号
			        	<input property="editor"  class="zbui-textbox" style="width:100%;"/>
			        </div>    
			        <div field="name" headerAlign="center" width="200px">功能名称
			        	<input property="editor"  class="zbui-textbox" style="width:100%;"/>
			        </div>
			        <div field="zt" headerAlign="center" width="100px">状态
			        	<input property="editor"  class="zbui-textbox" style="width:100%;"/>
			        </div> 
			        <div field="address" headerAlign="center" width="300px">功能内容
			        	<input property="editor"  class="zbui-textbox" style="width:100%;"/>
			        </div> 
			        <div field="type" headerAlign="center" width="50px">类型
			        	<input property="editor"  class="zbui-textbox" style="width:100%;"/>
			        </div> 
	            </div>
	        </div> 
	
	    </div>
	</div>
</div>
    
    
    <script type="text/javascript">
        zbui.parse();
        
        var transcodeToQuery='' ;//定一个全局变量，指示当前模糊查询所关联的transcode
        
        var grid = zbui.get("datagrid1");
        var tree = zbui.get("mtree");
        
        /*================设置状态颜色================*/
        grid.on("drawcell", function (e) {
            var field = e.field;
            var value = e.value;

            //状态栏，根据不同值设置颜色
            if (field == "zt" ) {
				if(value =="0"){//待开发
					 e.cellHtml ="待开发";
					 e.rowStyle = "background:#FFC0CB;";
					 e.cellStyle = "color:#8B008B;font-weight:bold;";
				}else if(value =="1"){//开发中
					 e.cellHtml ="开发中";
					 e.rowStyle = "background:#FFC0CB;";
					 e.cellStyle = "color:red;font-weight:bold;";
				}else if(value =="2"){//完成
					e.cellHtml ="完成";
					e.cellStyle = "color:#006400;font-weight:bold;";
					e.rowStyle = "background:#90EE90;";
				}else if(value =="3"){//失效
					e.cellHtml ="失效";
					e.cellStyle = "color:#177CB0;font-weight:bold;";
				}else if(value =="9"){//需求
					e.cellHtml ="需求";
					e.rowStyle = "background:#177CB0;";
					e.cellStyle = "color:#0000CD;font-weight:bold;";
				}
            }
        });

        
        /*================splitter左侧================*/
        zbui.get('module_search').on('click',function(){
        	var search=zbui.get('modulesearch').getValue();
     		var json=zbui.encode(search);
     		$.ajax({
     			url:"${ctx}/transcode/gettranscodeSetToShowByText",
     			type:"post",
     			data:{data:json},
     			success: function (text) {
     				var re=zbui.decode(text);
     				tree.loadList(re, "id", "pid");
                }
     		});
        });
        
        
		/*点击节点加载右侧*/
        tree.on("nodeselect", function (e) {
        	var form = new zbui.Form("#queryform");
      	  	var fdata = form.getData();
        	transcodeToQuery = e.node.id;
        	console.info(transcodeToQuery);
        	 fdata.transcode = transcodeToQuery;
        	var json = zbui.encode(fdata);
            grid.load({queryform : json});
        }); 
		
        /*================splitter右侧================*/
        zbui.get('codesearch').on('focus',function(){
        	transcodeToQuery='';
        });
        
        /*查询*/
        zbui.get('codesearch').on('enter',function(){
        	var form = new zbui.Form("#queryform");
      	  	var fdata = form.getData();
	      	  if(transcodeToQuery!=''){
	    		  fdata.transcode = transcodeToQuery;
	    	  }
      	  	var json = zbui.encode(fdata);
            grid.load({queryform : json});
        });
        
        zbui.get('button_load').on('click',function(){
        	  var form = new zbui.Form("#queryform");
        	  var fdata = form.getData();
        	  if(transcodeToQuery!=''){
        		  fdata.transcode = transcodeToQuery;
        	  }
        	  var json = zbui.encode(fdata);
              grid.load({queryform : json});
        });
        
        /*新增*/
        zbui.get('btn_add').on('click',function(){
        		var node = tree.getSelectedNode ( );
        	    if(node==undefined || !(tree.isLeaf (node) == true && node.id.length==9) ){//非第三层叶子节点
        			node = {};
        		} 
        		zbui.open({
        		    url: "${ctx}/view?page=transcode/edittranscode",
        		    title: "新增模块交易链", width: 700, height:620,
        		    onload: function () {
        		        var iframe = this.getIFrameEl();
        		        var data = { action: "new", node: node};
        		        iframe.contentWindow.SetData(data);
        		    },
        		    ondestroy: function (action) {
        		        grid.reload();
        		    }
        		});
        } );
        
        /*修改*/
        zbui.get('btn_edit').on('click',function(){
	        var row = grid.getSelected();
	        if (row) {
	            zbui.open({
	                url: "${ctx}/view?page=transcode/edittranscode",
	                title: "编辑模块交易链", width: 700, height:620,
	                onload: function () {
	                    var iframe = this.getIFrameEl();
	                    var data = { action: "edit", transcode: row.transcode };
	                    iframe.contentWindow.SetData(data);
	                    
	                },
	                ondestroy: function (action) {
	                    grid.reload();
	                    
	                }
	            });
	            
	        } else {
	            alert("请选中一条记录");
	        }
        });
       
        /*测试*/
        zbui.get('btn_test').on('click',function(){
        	var row = grid.getSelected();
        	 if (row) {
        	 zbui.open({
	                url: "${ctx}/oper/test",
	                title: "测试",width: 1000, height: 580,
	                onload: function () {
	                    var iframe = this.getIFrameEl();
	                    var data = { action: "test",row: row };
	                    iframe.contentWindow.SetData(data);
	                    
	                },
	                ondestroy: function (action) {
	                   
	                }
	            });
        	 }else{
        		 alert("请选中一条记录");
        		 grid.reload();
        	 }
        });
        
        /*删除*/
        zbui.get('btn_del').on('click',function(){
        	var rows = grid.getSelecteds();
            if (rows.length > 0) {
                if (confirm("确定删除选中记录？")) {
                    var json = zbui.encode(rows);
                    grid.loading("删除中，请稍后......");
                    $.ajax({
                        url: "${ctx}/oper/delTranscode",
                        type: 'post',
                        data: { sysregisterlist : json },
                        success: function (text) {
                        	if(text.indexOf("<title>404 - 页面不存在</title>") != -1){
    	                		alert("正式运行环境下，无此操作权限！");
    	                		return ;
    	                	}
                            grid.reload();
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                        	alert(jqXHR.responseText);
                        }
                    });  
                }
            } else {
                alert("请选中一条记录");
            }
        });
        
        /*重置代理*/
        zbui.get('btn-reset').on('click',function(){
        	if (confirm("确定重置所有代理？")) {
        		//请求后台，重置代理
        		$.ajax({
                    url: "${ctx}/oper/resetRegisterProxy",
                    type: 'post',
                    success: function (text) {
                    	if(text.indexOf("<title>404 - 页面不存在</title>") != -1){
	                		alert("正式运行环境下，无此操作权限！");
	                		return ;
	                	}
                        grid.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    	alert(jqXHR.responseText);
                    }
                });
        	}else{
        		grid.reload();
        	}
        });
        
        /*清除缓存*/
        zbui.get('btn-cache').on('click',function(){
        	if (confirm("确定清除缓存吗？")) {
        		//请求后台，清除缓存
        		$.ajax({
                    url: "${ctx}/transcode/cleanCache",
                    type: 'post',
                    success: function (text) {
                        grid.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    	alert(jqXHR.responseText);
                    }
                });
        	}else{
        		grid.reload();
        	}
        }); 
        
    </script>
</body>
</html>