<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebone.nhis.base.price.dao.BdHpDiagDivMapper">
	
	<!-- 根据医保计划查询所有当前计划下的单病种 -->
	<select id="queryBdHpDiagDiv"  parameterType="java.util.Map" resultType="DynaBean">
		select diag.diagcode,
			diag.diagname,
			div.* 
		from bd_hp_diagdiv div
		inner join BD_TERM_DIAG diag on diag.pk_diag=div.pk_diag
		where div.pk_hp=#{pkHp}
	</select>
	<!--根据诊断和患者信息查询是否有符合的单病种规则 -->
	<select id="getBdHpDiagdiv" parameterType="java.util.Map" resultType="DynaBean">
		select 
			div.amount,
			div.eu_pvtype,
			div.note,
			cate.pk_diagitemcate,
       		cate.pk_itemcate,
       		cate.rate,
       		div.amount*cate.rate money
  		from bd_hp_diagdiv div 
       	left join bd_hp_diagdiv_itemcate cate on div.pk_totaldiv=cate.pk_totaldiv
       	where div.pk_diag=#{pkDiag}
 		and div.pk_hp=#{pkHp}
	</select>
	
	
	<!-- 根据医保计划查询所有当前计划下的单病种new -->
	<select id="queryHpDiagDivList"  parameterType="java.lang.String" resultType="com.zebone.nhis.common.module.base.bd.price.BdHpDiagdiv">
		select * from bd_hp_diagdiv div where div.pk_hp=#{pkHp}
	</select>
	
	<!-- 查询单病种下面的 费用分类new-->
	<select id="queryHpDiagdivItemcate"  parameterType="java.lang.String" resultType="com.zebone.nhis.common.module.base.bd.price.BdHpDiagdivItemcate">
		select * from bd_hp_diagdiv_itemcate where del_flag = '0' and  PK_TOTALDIV= #{pkTotalDiv,jdbcType=VARCHAR}
	</select>
	
	
	<!-- 判断单病种费用分类中是否存在某单病种数据 -->
	<select id="isExistBdIteamcate" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) as isExist from bd_hp_diagdiv_itemcate
		where pk_totaldiv=#{pkTotaldiv}
	</select>
	
	<!-- 删除单病种 -->
	<delete id="deleteHpDiagDiv" parameterType="java.util.Map">
		delete from bd_hp_diagdiv where pk_totaldiv=#{pkTotaldiv}
	</delete>
	
	<!-- 根据不同条件删除单病种费用控制 -->
	<delete id="deleteDiagItemcate" parameterType="java.util.Map">
		delete from bd_hp_diagdiv_itemcate 
		<where>
			<if test="pkTotaldiv!=null and pkTotaldiv!=''">and pk_totaldiv=#{pkTotaldiv}</if>
			<if test="pkDiagitemcate!=null and pkDiagitemcate !=''">and pk_diagitemcate=#{pkDiagitemcate}</if>
		</where>
	</delete>
	
</mapper>