<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-
//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.ma.tpi.rhip.dao.OperationInfoMapper">

    <select id="OperationRecordInfo" resultType="com.zebone.nhis.ma.tpi.rhip.vo.OperationRecordInfo" parameterType="java.util.Map">
        SELECT * FROM  medsurgery.Pt_Operation
        <where>
            jzlsh = #{codePi,jdbcType=VARCHAR}
            and visit_id =#{ipTimes,jdbcType=VARCHAR}
        </where>
    </select>
</mapper>