<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.pro.zsba.mz.pub.dao.ZsbaOpSettleSyxMapper">
	<update id="updatePiMaster" parameterType="com.zebone.nhis.pro.zsba.mz.pub.vo.PiParamVo">
		update pi_master
		<set>
			<if test="spcaNo != null">
				spca_no = #{spcaNo,jdbcType=VARCHAR},
			</if>
			<if test="senNo != null">
				sen_no = #{senNo,jdbcType=VARCHAR},
			</if>
			<if test="citizenNo != null">
				citizen_no = #{citizenNo,jdbcType=VARCHAR},
			</if>
			<if test="dtSpecunit != null">
				dt_specunit = #{dtSpecunit,jdbcType=VARCHAR},
			</if>
			<if test="dtSource != null">
				dt_source = #{dtSource,jdbcType=VARCHAR},
			</if>
			<if test="hicNo != null">
				hic_no = #{hicNo,jdbcType=VARCHAR},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="dtSex != null">
				dt_sex = #{dtSex,jdbcType=VARCHAR},
			</if>
			<if test="birthDate != null">
				birth_date = #{birthDate,jdbcType=DATE},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="ts != null">
				ts = #{ts,jdbcType=DATE},
			</if>
			<if test="dtIdtypeRel != null">
				dt_idtype_rel = #{dtIdtypeRel,jdbcType=VARCHAR},
			</if>
			<if test="idnoRel != null">
				idno_rel = #{idnoRel,jdbcType=VARCHAR},
			</if>
			<if test="telRel != null">
				tel_rel = #{telRel,jdbcType=VARCHAR},
			</if>
			<if test="addrCur != null">
				addr_cur = #{addrCur,jdbcType=VARCHAR},
			</if>
			<if test="mcno != null">
				mcno = #{mcno,jdbcType=VARCHAR},
			</if>
			<if test="insurNo != null">
				insur_no = #{insurNo,jdbcType=VARCHAR},
			</if>
			<if test="addrCurDt != null">
				addr_cur_dt = #{addrCurDt,jdbcType=VARCHAR},
			</if>
			<if test="nameRel != null">
				name_rel = #{nameRel,jdbcType=VARCHAR},
			</if>
			<if test="note != null">
				note = #{note,jdbcType=VARCHAR},
			</if>
			<if test="pkEmp != null">
				pk_emp = #{pkEmp,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="flagRealname != null">
				flag_realname = #{flagRealname,jdbcType=VARCHAR},
			</if>
			<if test="idNo != null and idNo!=''">
				id_no = #{idNo,jdbcType=VARCHAR},
			</if>
			<if test="dtIdtype != null and dtIdtype !=''">
				dt_idtype = #{dtIdtype,jdbcType=VARCHAR},
			</if>
			<if test="namePi != null and namePi !=''">
				name_pi = #{namePi,jdbcType=VARCHAR},
			</if>
			<if test="pkPicate != null and pkPicate !=''">
				pk_picate = #{pkPicate,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE pk_pi = #{pkPi,jdbcType=CHAR}
	</update>
	<update id="updatePvEncounter" parameterType="com.zebone.nhis.pro.zsba.mz.pub.vo.PiParamVo">
		update pv_encounter
		<set>
			<if test="pkInsu != null">
				pk_insu = #{pkInsu,jdbcType=VARCHAR},
			</if>
			<if test="namePi != null and namePi !=''">
				name_pi = #{namePi,jdbcType=VARCHAR},
			</if>
			<if test="dtSex != null">
				dt_sex = #{dtSex,jdbcType=VARCHAR},
			</if>
			<if test="addrCurDt != null">
				addr_cur_dt = #{addrCurDt,jdbcType=VARCHAR},
			</if>
			<if test="dtIdtypeRel != null">
				dt_idtype_rel = #{dtIdtypeRel,jdbcType=VARCHAR},
			</if>
			<if test="idnoRel != null">
				idno_rel = #{idnoRel,jdbcType=VARCHAR},
			</if>
			<if test="telRel != null">
				tel_rel = #{telRel,jdbcType=VARCHAR},
			</if>
			<if test="nameRel != null">
				name_rel = #{nameRel,jdbcType=VARCHAR},
			</if>
			<if test="ts != null">
				ts = #{ts,jdbcType=DATE},
			</if>
			<if test="modifier != null">
				modifier = #{modifier,jdbcType=VARCHAR},
			</if>
			<if test="agePv != null">
				age_pv = #{agePv,jdbcType=VARCHAR},
			</if>
			<if test="pkPicate != null and pkPicate !=''">
				pk_picate = #{pkPicate,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE pk_pv = #{pkPv,jdbcType=CHAR}
	</update>
</mapper>