<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebone.nhis.pro.zsba.compay.ins.zsyb.dao.InsZsybRptJhsyMapper">
    <resultMap id="BaseResultMap" type="com.zebone.nhis.common.module.compay.ins.zsba.zsyb.InsZsybRptJhsy">
        <id column="PK_INSACCT" jdbcType="CHAR" property="pkInsacct"/>
        <result column="PK_ORG" jdbcType="CHAR" property="pkOrg"/>
        <result column="JJYWH" jdbcType="VARCHAR" property="jjywh"/>
        <result column="BBLB" jdbcType="VARCHAR" property="bblb"/>
        <result column="GRSXH" jdbcType="VARCHAR" property="grsxh"/>
        <result column="ZGXM" jdbcType="VARCHAR" property="zgxm"/>
        <result column="JZLB" jdbcType="VARCHAR" property="jzlb"/>
        <result column="PTRQ" jdbcType="VARCHAR" property="ptrq"/>
        <result column="ZYH" jdbcType="VARCHAR" property="zyh"/>
        <result column="ZYTS" jdbcType="INTEGER" property="zyts"/>
        <result column="RYRQ" jdbcType="VARCHAR" property="ryrq"/>
        <result column="CYRQ" jdbcType="VARCHAR" property="cyrq"/>
        <result column="YLFYZE" jdbcType="DECIMAL" property="ylfyze"/>
        <result column="ZFEIJE" jdbcType="DECIMAL" property="zfeije"/>
        <result column="GRZFJE" jdbcType="DECIMAL" property="grzfje"/>
        <result column="GRZHZFJE" jdbcType="DECIMAL" property="grzhzfje"/>
        <result column="TCZFJE" jdbcType="DECIMAL" property="tczfje"/>
        <result column="BZ" jdbcType="VARCHAR" property="bz"/>
        <result column="TSYPZE" jdbcType="DECIMAL" property="tsypze"/>
        <result column="ICD10" jdbcType="VARCHAR" property="icd10"/>
        <result column="JHSYSS1" jdbcType="VARCHAR" property="jhsyss1"/>
        <result column="JHSYSS2" jdbcType="VARCHAR" property="jhsyss2"/>
        <result column="JHSYSS3" jdbcType="VARCHAR" property="jhsyss3"/>
        <result column="HYZS" jdbcType="INTEGER" property="hyzs"/>
        <result column="SFECJS" jdbcType="CHAR" property="sfecjs"/>
        <result column="DEBZ" jdbcType="DECIMAL" property="debz"/>
        <result column="YYBH" jdbcType="VARCHAR" property="yybh"/>
        <result column="SDYWH" jdbcType="VARCHAR" property="sdywh"/>
        <result column="CREATOR" jdbcType="CHAR" property="creator"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER" jdbcType="CHAR" property="modifier"/>
        <result column="MODITY_TIME" jdbcType="TIMESTAMP" property="modityTime"/>
        <result column="DEL_FLAG" jdbcType="CHAR" property="delFlag"/>
        <result column="TS" jdbcType="TIMESTAMP" property="ts"/>
    </resultMap>
    <select id="getInsZsybRptJhsyById" resultMap="BaseResultMap">
        SELECT
            *
        FROM
             ins_zsyb_rpt_jhsy
        WHERE            
            PK_INSACCT = #{pkInsacct,jdbcType=CHAR}
    </select>
    
    <select id="findAllInsZsybRptJhsy" resultMap="BaseResultMap">
          SELECT * FROM ins_zsyb_rpt_jhsy 
    </select>
    
    <delete id="deleteInsZsybRptJhsy">
        DELETE
        FROM
             ins_zsyb_rpt_jhsy
        WHERE            
            PK_INSACCT = #{pkInsacct,jdbcType=CHAR}
    </delete>

    <insert id="saveInsZsybRptJhsy" parameterType="com.zebone.nhis.common.module.compay.ins.zsba.zsyb.InsZsybRptJhsy" >
        INSERT INTO ins_zsyb_rpt_jhsy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkInsacct != null" >
                PK_INSACCT,
            </if>
            <if test="pkOrg != null" >
                PK_ORG,
            </if>
            <if test="jjywh != null" >
                JJYWH,
            </if>
            <if test="bblb != null" >
                BBLB,
            </if>
            <if test="grsxh != null" >
                GRSXH,
            </if>
            <if test="zgxm != null" >
                ZGXM,
            </if>
            <if test="jzlb != null" >
                JZLB,
            </if>
            <if test="ptrq != null" >
                PTRQ,
            </if>
            <if test="zyh != null" >
                ZYH,
            </if>
            <if test="zyts != null" >
                ZYTS,
            </if>
            <if test="ryrq != null" >
                RYRQ,
            </if>
            <if test="cyrq != null" >
                CYRQ,
            </if>
            <if test="ylfyze != null" >
                YLFYZE,
            </if>
            <if test="zfeije != null" >
                ZFEIJE,
            </if>
            <if test="grzfje != null" >
                GRZFJE,
            </if>
            <if test="grzhzfje != null" >
                GRZHZFJE,
            </if>
            <if test="tczfje != null" >
                TCZFJE,
            </if>
            <if test="bz != null" >
                BZ,
            </if>
            <if test="tsypze != null" >
                TSYPZE,
            </if>
            <if test="icd10 != null" >
                ICD10,
            </if>
            <if test="jhsyss1 != null" >
                JHSYSS1,
            </if>
            <if test="jhsyss2 != null" >
                JHSYSS2,
            </if>
            <if test="jhsyss3 != null" >
                JHSYSS3,
            </if>
            <if test="hyzs != null" >
                HYZS,
            </if>
            <if test="sfecjs != null" >
                SFECJS,
            </if>
            <if test="debz != null" >
                DEBZ,
            </if>
            <if test="yybh != null" >
                YYBH,
            </if>
            <if test="sdywh != null" >
                SDYWH,
            </if>
            <if test="creator != null" >
                CREATOR,
            </if>
            <if test="createTime != null" >
                CREATE_TIME,
            </if>
            <if test="modifier != null" >
                MODIFIER,
            </if>
            <if test="modityTime != null" >
                MODITY_TIME,
            </if>
            <if test="delFlag != null" >
                DEL_FLAG,
            </if>
            <if test="ts != null" >
                TS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkInsacct != null" >
                #{pkInsacct,jdbcType=CHAR},
            </if> 
            <if test="pkOrg != null" >
                #{pkOrg,jdbcType=CHAR},
            </if> 
            <if test="jjywh != null" >
                #{jjywh,jdbcType=VARCHAR},
            </if> 
            <if test="bblb != null" >
                #{bblb,jdbcType=VARCHAR},
            </if> 
            <if test="grsxh != null" >
                #{grsxh,jdbcType=VARCHAR},
            </if> 
            <if test="zgxm != null" >
                #{zgxm,jdbcType=VARCHAR},
            </if> 
            <if test="jzlb != null" >
                #{jzlb,jdbcType=VARCHAR},
            </if> 
            <if test="ptrq != null" >
                #{ptrq,jdbcType=VARCHAR},
            </if> 
            <if test="zyh != null" >
                #{zyh,jdbcType=VARCHAR},
            </if> 
            <if test="zyts != null" >
                #{zyts,jdbcType=INTEGER},
            </if> 
            <if test="ryrq != null" >
                #{ryrq,jdbcType=VARCHAR},
            </if> 
            <if test="cyrq != null" >
                #{cyrq,jdbcType=VARCHAR},
            </if> 
            <if test="ylfyze != null" >
                #{ylfyze,jdbcType=DECIMAL},
            </if> 
            <if test="zfeije != null" >
                #{zfeije,jdbcType=DECIMAL},
            </if> 
            <if test="grzfje != null" >
                #{grzfje,jdbcType=DECIMAL},
            </if> 
            <if test="grzhzfje != null" >
                #{grzhzfje,jdbcType=DECIMAL},
            </if> 
            <if test="tczfje != null" >
                #{tczfje,jdbcType=DECIMAL},
            </if> 
            <if test="bz != null" >
                #{bz,jdbcType=VARCHAR},
            </if> 
            <if test="tsypze != null" >
                #{tsypze,jdbcType=DECIMAL},
            </if> 
            <if test="icd10 != null" >
                #{icd10,jdbcType=VARCHAR},
            </if> 
            <if test="jhsyss1 != null" >
                #{jhsyss1,jdbcType=VARCHAR},
            </if> 
            <if test="jhsyss2 != null" >
                #{jhsyss2,jdbcType=VARCHAR},
            </if> 
            <if test="jhsyss3 != null" >
                #{jhsyss3,jdbcType=VARCHAR},
            </if> 
            <if test="hyzs != null" >
                #{hyzs,jdbcType=INTEGER},
            </if> 
            <if test="sfecjs != null" >
                #{sfecjs,jdbcType=CHAR},
            </if> 
            <if test="debz != null" >
                #{debz,jdbcType=DECIMAL},
            </if> 
            <if test="yybh != null" >
                #{yybh,jdbcType=VARCHAR},
            </if> 
            <if test="sdywh != null" >
                #{sdywh,jdbcType=VARCHAR},
            </if> 
            <if test="creator != null" >
                #{creator,jdbcType=CHAR},
            </if> 
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if> 
            <if test="modifier != null" >
                #{modifier,jdbcType=CHAR},
            </if> 
            <if test="modityTime != null" >
                #{modityTime,jdbcType=TIMESTAMP},
            </if> 
            <if test="delFlag != null" >
                #{delFlag,jdbcType=CHAR},
            </if> 
            <if test="ts != null" >
                #{ts,jdbcType=TIMESTAMP},
            </if> 
        </trim>
    </insert>

    <update id="updateInsZsybRptJhsy" parameterType="com.zebone.nhis.common.module.compay.ins.zsba.zsyb.InsZsybRptJhsy" >
        UPDATE ins_zsyb_rpt_jhsy
        <set>
            <if test="pkInsacct != null" >
                PK_INSACCT = #{pkInsacct,jdbcType=CHAR},
            </if>
            <if test="pkOrg != null" >
                PK_ORG = #{pkOrg,jdbcType=CHAR},
            </if>
            <if test="jjywh != null" >
                JJYWH = #{jjywh,jdbcType=VARCHAR},
            </if>
            <if test="bblb != null" >
                BBLB = #{bblb,jdbcType=VARCHAR},
            </if>
            <if test="grsxh != null" >
                GRSXH = #{grsxh,jdbcType=VARCHAR},
            </if>
            <if test="zgxm != null" >
                ZGXM = #{zgxm,jdbcType=VARCHAR},
            </if>
            <if test="jzlb != null" >
                JZLB = #{jzlb,jdbcType=VARCHAR},
            </if>
            <if test="ptrq != null" >
                PTRQ = #{ptrq,jdbcType=VARCHAR},
            </if>
            <if test="zyh != null" >
                ZYH = #{zyh,jdbcType=VARCHAR},
            </if>
            <if test="zyts != null" >
                ZYTS = #{zyts,jdbcType=INTEGER},
            </if>
            <if test="ryrq != null" >
                RYRQ = #{ryrq,jdbcType=VARCHAR},
            </if>
            <if test="cyrq != null" >
                CYRQ = #{cyrq,jdbcType=VARCHAR},
            </if>
            <if test="ylfyze != null" >
                YLFYZE = #{ylfyze,jdbcType=DECIMAL},
            </if>
            <if test="zfeije != null" >
                ZFEIJE = #{zfeije,jdbcType=DECIMAL},
            </if>
            <if test="grzfje != null" >
                GRZFJE = #{grzfje,jdbcType=DECIMAL},
            </if>
            <if test="grzhzfje != null" >
                GRZHZFJE = #{grzhzfje,jdbcType=DECIMAL},
            </if>
            <if test="tczfje != null" >
                TCZFJE = #{tczfje,jdbcType=DECIMAL},
            </if>
            <if test="bz != null" >
                BZ = #{bz,jdbcType=VARCHAR},
            </if>
            <if test="tsypze != null" >
                TSYPZE = #{tsypze,jdbcType=DECIMAL},
            </if>
            <if test="icd10 != null" >
                ICD10 = #{icd10,jdbcType=VARCHAR},
            </if>
            <if test="jhsyss1 != null" >
                JHSYSS1 = #{jhsyss1,jdbcType=VARCHAR},
            </if>
            <if test="jhsyss2 != null" >
                JHSYSS2 = #{jhsyss2,jdbcType=VARCHAR},
            </if>
            <if test="jhsyss3 != null" >
                JHSYSS3 = #{jhsyss3,jdbcType=VARCHAR},
            </if>
            <if test="hyzs != null" >
                HYZS = #{hyzs,jdbcType=INTEGER},
            </if>
            <if test="sfecjs != null" >
                SFECJS = #{sfecjs,jdbcType=CHAR},
            </if>
            <if test="debz != null" >
                DEBZ = #{debz,jdbcType=DECIMAL},
            </if>
            <if test="yybh != null" >
                YYBH = #{yybh,jdbcType=VARCHAR},
            </if>
            <if test="sdywh != null" >
                SDYWH = #{sdywh,jdbcType=VARCHAR},
            </if>
            <if test="creator != null" >
                CREATOR = #{creator,jdbcType=CHAR},
            </if>
            <if test="createTime != null" >
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null" >
                MODIFIER = #{modifier,jdbcType=CHAR},
            </if>
            <if test="modityTime != null" >
                MODITY_TIME = #{modityTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null" >
                DEL_FLAG = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="ts != null" >
                TS = #{ts,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE 
            PK_INSACCT = #{pkInsacct,jdbcType=CHAR}
    </update>
    
     <select id="getYbMx" parameterType="java.util.Map" resultType="com.zebone.nhis.common.module.compay.ins.zsba.zsyb.InsZsybRptJhsy">
       	SELECT
            mx.*
        FROM
        		ins_zsyb_rpt_jhsy mx inner join ins_zsyb_rpt rpt on mx.JJYWH = rpt.JJYWH
        WHERE            
        	rpt.del_flag = '0'
        	and mx.del_flag = '0'
        	and substr(to_char(rpt.TJJZRQ,'YYYYMMDD'),1,6) = #{date,jdbcType=VARCHAR}
        	and tjlb = #{tjlb,jdbcType=VARCHAR}
     </select>
     
     <delete id="delYbMx" parameterType="java.util.Map" >
        DELETE
        FROM
             ins_zsyb_rpt_jhsy
        WHERE            
            JJYWH = #{jjywh,jdbcType=VARCHAR}
    </delete>
</mapper>