<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebone.nhis.pro.zsba.compay.ins.zsyb.dao.InsZsybItemMapper">
    <resultMap id="BaseResultMap" type="com.zebone.nhis.common.module.compay.ins.zsba.zsyb.InsZsybItem">
        <id column="PK_INSITEM" jdbcType="CHAR" property="pkInsitem"/>
        <result column="BGSJ" jdbcType="TIMESTAMP" property="bgsj"/>
        <result column="PK_ORG" jdbcType="CHAR" property="pkOrg"/>
        <result column="PK_HP" jdbcType="CHAR" property="pkHp"/>
        <result column="XMBH" jdbcType="VARCHAR" property="xmbh"/>
        <result column="XMLB" jdbcType="VARCHAR" property="xmlb"/>
        <result column="ZWMC" jdbcType="VARCHAR" property="zwmc"/>
        <result column="YWMC" jdbcType="VARCHAR" property="ywmc"/>
        <result column="SPCODE" jdbcType="VARCHAR" property="spcode"/>
        <result column="D_CODE" jdbcType="VARCHAR" property="dCode"/>
        <result column="FLDM" jdbcType="VARCHAR" property="fldm"/>
        <result column="YPGG" jdbcType="VARCHAR" property="ypgg"/>
        <result column="YPJX" jdbcType="VARCHAR" property="ypjx"/>
        <result column="ZJM" jdbcType="VARCHAR" property="zjm"/>
        <result column="YWMLDJ" jdbcType="VARCHAR" property="ywmldj"/>
        <result column="JBZFBL" jdbcType="DECIMAL" property="jbzfbl"/>
        <result column="SQZFBL" jdbcType="DECIMAL" property="sqzfbl"/>
        <result column="LXZFBL" jdbcType="DECIMAL" property="lxzfbl"/>
        <result column="GSZFBL" jdbcType="DECIMAL" property="gszfbl"/>
        <result column="SYZFBL" jdbcType="DECIMAL" property="syzfbl"/>
        <result column="TMZFBL" jdbcType="DECIMAL" property="tmzfbl"/>
        <result column="BCZFBL" jdbcType="DECIMAL" property="bczfbl"/>
        <result column="JZJG" jdbcType="DECIMAL" property="jzjg"/>
        <result column="YJJYPBM" jdbcType="VARCHAR" property="yjjypbm"/>
        <result column="YYCLZCZMC" jdbcType="VARCHAR" property="yyclzczmc"/>
        <result column="YYCLSYJZCH" jdbcType="VARCHAR" property="yyclsyjzch"/>
        <result column="TXBZ" jdbcType="VARCHAR" property="txbz"/>
        <result column="KSSJ" jdbcType="VARCHAR" property="kssj"/>
        <result column="ZSSJ" jdbcType="VARCHAR" property="zssj"/>
        <result column="BZ" jdbcType="VARCHAR" property="bz"/>
        <result column="FHZ" jdbcType="INTEGER" property="fhz"/>
        <result column="MSG" jdbcType="VARCHAR" property="msg"/>
        <result column="CREATOR" jdbcType="CHAR" property="creator"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFIER" jdbcType="CHAR" property="modifier"/>
        <result column="MODITY_TIME" jdbcType="TIMESTAMP" property="modityTime"/>
        <result column="DEL_FLAG" jdbcType="CHAR" property="delFlag"/>
        <result column="TS" jdbcType="TIMESTAMP" property="ts"/>
    </resultMap>
    <select id="getInsItemById" resultMap="BaseResultMap">
        SELECT
            *
        FROM
             ins_item
        WHERE            
            PK_INSITEM = #{pkInsitem,jdbcType=CHAR}
    </select>
    
    <select id="findAllInsItem" resultMap="BaseResultMap">
          SELECT * FROM ins_item 
    </select>
    
    <delete id="deleteInsItem">
        DELETE
        FROM
             ins_item
        WHERE            
            PK_INSITEM = #{pkInsitem,jdbcType=CHAR}
    </delete>

    <insert id="saveInsItem" parameterType="com.zebone.nhis.common.module.compay.ins.zsba.zsyb.InsZsybItem" >
        INSERT INTO ins_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkInsitem != null" >
                PK_INSITEM,
            </if>
            <if test="bgsj != null" >
                BGSJ,
            </if>
            <if test="pkOrg != null" >
                PK_ORG,
            </if>
            <if test="pkHp != null" >
                PK_HP,
            </if>
            <if test="xmbh != null" >
                XMBH,
            </if>
            <if test="xmlb != null" >
                XMLB,
            </if>
            <if test="zwmc != null" >
                ZWMC,
            </if>
            <if test="ywmc != null" >
                YWMC,
            </if>
            <if test="spcode != null" >
                SPCODE,
            </if>
            <if test="dCode != null" >
                D_CODE,
            </if>
            <if test="fldm != null" >
                FLDM,
            </if>
            <if test="ypgg != null" >
                YPGG,
            </if>
            <if test="ypjx != null" >
                YPJX,
            </if>
            <if test="zjm != null" >
                ZJM,
            </if>
            <if test="ywmldj != null" >
                YWMLDJ,
            </if>
            <if test="jbzfbl != null" >
                JBZFBL,
            </if>
            <if test="sqzfbl != null" >
                SQZFBL,
            </if>
            <if test="lxzfbl != null" >
                LXZFBL,
            </if>
            <if test="gszfbl != null" >
                GSZFBL,
            </if>
            <if test="syzfbl != null" >
                SYZFBL,
            </if>
            <if test="tmzfbl != null" >
                TMZFBL,
            </if>
            <if test="bczfbl != null" >
                BCZFBL,
            </if>
            <if test="jzjg != null" >
                JZJG,
            </if>
            <if test="yjjypbm != null" >
                YJJYPBM,
            </if>
            <if test="yyclzczmc != null" >
                YYCLZCZMC,
            </if>
            <if test="yyclsyjzch != null" >
                YYCLSYJZCH,
            </if>
            <if test="txbz != null" >
                TXBZ,
            </if>
            <if test="kssj != null" >
                KSSJ,
            </if>
            <if test="zssj != null" >
                ZSSJ,
            </if>
            <if test="bz != null" >
                BZ,
            </if>
            <if test="fhz != null" >
                FHZ,
            </if>
            <if test="msg != null" >
                MSG,
            </if>
            <if test="creator != null" >
                CREATOR,
            </if>
            <if test="createTime != null" >
                CREATE_TIME,
            </if>
            <if test="modifier != null" >
                MODIFIER,
            </if>
            <if test="modityTime != null" >
                MODITY_TIME,
            </if>
            <if test="delFlag != null" >
                DEL_FLAG,
            </if>
            <if test="ts != null" >
                TS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkInsitem != null" >
                #{pkInsitem,jdbcType=CHAR},
            </if> 
            <if test="bgsj != null" >
                #{bgsj,jdbcType=TIMESTAMP},
            </if> 
            <if test="pkOrg != null" >
                #{pkOrg,jdbcType=CHAR},
            </if> 
            <if test="pkHp != null" >
                #{pkHp,jdbcType=CHAR},
            </if> 
            <if test="xmbh != null" >
                #{xmbh,jdbcType=VARCHAR},
            </if> 
            <if test="xmlb != null" >
                #{xmlb,jdbcType=VARCHAR},
            </if> 
            <if test="zwmc != null" >
                #{zwmc,jdbcType=VARCHAR},
            </if> 
            <if test="ywmc != null" >
                #{ywmc,jdbcType=VARCHAR},
            </if> 
            <if test="spcode != null" >
                #{spcode,jdbcType=VARCHAR},
            </if> 
            <if test="dCode != null" >
                #{dCode,jdbcType=VARCHAR},
            </if> 
            <if test="fldm != null" >
                #{fldm,jdbcType=VARCHAR},
            </if> 
            <if test="ypgg != null" >
                #{ypgg,jdbcType=VARCHAR},
            </if> 
            <if test="ypjx != null" >
                #{ypjx,jdbcType=VARCHAR},
            </if> 
            <if test="zjm != null" >
                #{zjm,jdbcType=VARCHAR},
            </if> 
            <if test="ywmldj != null" >
                #{ywmldj,jdbcType=VARCHAR},
            </if> 
            <if test="jbzfbl != null" >
                #{jbzfbl,jdbcType=DECIMAL},
            </if> 
            <if test="sqzfbl != null" >
                #{sqzfbl,jdbcType=DECIMAL},
            </if> 
            <if test="lxzfbl != null" >
                #{lxzfbl,jdbcType=DECIMAL},
            </if> 
            <if test="gszfbl != null" >
                #{gszfbl,jdbcType=DECIMAL},
            </if> 
            <if test="syzfbl != null" >
                #{syzfbl,jdbcType=DECIMAL},
            </if> 
            <if test="tmzfbl != null" >
                #{tmzfbl,jdbcType=DECIMAL},
            </if> 
            <if test="bczfbl != null" >
                #{bczfbl,jdbcType=DECIMAL},
            </if> 
            <if test="jzjg != null" >
                #{jzjg,jdbcType=DECIMAL},
            </if> 
            <if test="yjjypbm != null" >
                #{yjjypbm,jdbcType=VARCHAR},
            </if> 
            <if test="yyclzczmc != null" >
                #{yyclzczmc,jdbcType=VARCHAR},
            </if> 
            <if test="yyclsyjzch != null" >
                #{yyclsyjzch,jdbcType=VARCHAR},
            </if> 
            <if test="txbz != null" >
                #{txbz,jdbcType=VARCHAR},
            </if> 
            <if test="kssj != null" >
                #{kssj,jdbcType=VARCHAR},
            </if> 
            <if test="zssj != null" >
                #{zssj,jdbcType=VARCHAR},
            </if> 
            <if test="bz != null" >
                #{bz,jdbcType=VARCHAR},
            </if> 
            <if test="fhz != null" >
                #{fhz,jdbcType=INTEGER},
            </if> 
            <if test="msg != null" >
                #{msg,jdbcType=VARCHAR},
            </if> 
            <if test="creator != null" >
                #{creator,jdbcType=CHAR},
            </if> 
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if> 
            <if test="modifier != null" >
                #{modifier,jdbcType=CHAR},
            </if> 
            <if test="modityTime != null" >
                #{modityTime,jdbcType=TIMESTAMP},
            </if> 
            <if test="delFlag != null" >
                #{delFlag,jdbcType=CHAR},
            </if> 
            <if test="ts != null" >
                #{ts,jdbcType=TIMESTAMP},
            </if> 
        </trim>
    </insert>

    <update id="updateInsItem" parameterType="com.zebone.nhis.common.module.compay.ins.zsba.zsyb.InsZsybItem" >
        UPDATE ins_item
        <set>
            <if test="pkInsitem != null" >
                PK_INSITEM = #{pkInsitem,jdbcType=CHAR},
            </if>
            <if test="bgsj != null" >
                BGSJ = #{bgsj,jdbcType=TIMESTAMP},
            </if>
            <if test="pkOrg != null" >
                PK_ORG = #{pkOrg,jdbcType=CHAR},
            </if>
            <if test="pkHp != null" >
                PK_HP = #{pkHp,jdbcType=CHAR},
            </if>
            <if test="xmbh != null" >
                XMBH = #{xmbh,jdbcType=VARCHAR},
            </if>
            <if test="xmlb != null" >
                XMLB = #{xmlb,jdbcType=VARCHAR},
            </if>
            <if test="zwmc != null" >
                ZWMC = #{zwmc,jdbcType=VARCHAR},
            </if>
            <if test="ywmc != null" >
                YWMC = #{ywmc,jdbcType=VARCHAR},
            </if>
            <if test="spcode != null" >
                SPCODE = #{spcode,jdbcType=VARCHAR},
            </if>
            <if test="dCode != null" >
                D_CODE = #{dCode,jdbcType=VARCHAR},
            </if>
            <if test="fldm != null" >
                FLDM = #{fldm,jdbcType=VARCHAR},
            </if>
            <if test="ypgg != null" >
                YPGG = #{ypgg,jdbcType=VARCHAR},
            </if>
            <if test="ypjx != null" >
                YPJX = #{ypjx,jdbcType=VARCHAR},
            </if>
            <if test="zjm != null" >
                ZJM = #{zjm,jdbcType=VARCHAR},
            </if>
            <if test="ywmldj != null" >
                YWMLDJ = #{ywmldj,jdbcType=VARCHAR},
            </if>
            <if test="jbzfbl != null" >
                JBZFBL = #{jbzfbl,jdbcType=DECIMAL},
            </if>
            <if test="sqzfbl != null" >
                SQZFBL = #{sqzfbl,jdbcType=DECIMAL},
            </if>
            <if test="lxzfbl != null" >
                LXZFBL = #{lxzfbl,jdbcType=DECIMAL},
            </if>
            <if test="gszfbl != null" >
                GSZFBL = #{gszfbl,jdbcType=DECIMAL},
            </if>
            <if test="syzfbl != null" >
                SYZFBL = #{syzfbl,jdbcType=DECIMAL},
            </if>
            <if test="tmzfbl != null" >
                TMZFBL = #{tmzfbl,jdbcType=DECIMAL},
            </if>
            <if test="bczfbl != null" >
                BCZFBL = #{bczfbl,jdbcType=DECIMAL},
            </if>
            <if test="jzjg != null" >
                JZJG = #{jzjg,jdbcType=DECIMAL},
            </if>
            <if test="yjjypbm != null" >
                YJJYPBM = #{yjjypbm,jdbcType=VARCHAR},
            </if>
            <if test="yyclzczmc != null" >
                YYCLZCZMC = #{yyclzczmc,jdbcType=VARCHAR},
            </if>
            <if test="yyclsyjzch != null" >
                YYCLSYJZCH = #{yyclsyjzch,jdbcType=VARCHAR},
            </if>
            <if test="txbz != null" >
                TXBZ = #{txbz,jdbcType=VARCHAR},
            </if>
            <if test="kssj != null" >
                KSSJ = #{kssj,jdbcType=VARCHAR},
            </if>
            <if test="zssj != null" >
                ZSSJ = #{zssj,jdbcType=VARCHAR},
            </if>
            <if test="bz != null" >
                BZ = #{bz,jdbcType=VARCHAR},
            </if>
            <if test="fhz != null" >
                FHZ = #{fhz,jdbcType=INTEGER},
            </if>
            <if test="msg != null" >
                MSG = #{msg,jdbcType=VARCHAR},
            </if>
            <if test="creator != null" >
                CREATOR = #{creator,jdbcType=CHAR},
            </if>
            <if test="createTime != null" >
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifier != null" >
                MODIFIER = #{modifier,jdbcType=CHAR},
            </if>
            <if test="modityTime != null" >
                MODITY_TIME = #{modityTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null" >
                DEL_FLAG = #{delFlag,jdbcType=CHAR},
            </if>
            <if test="ts != null" >
                TS = #{ts,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE 
            PK_INSITEM = #{pkInsitem,jdbcType=CHAR}
    </update>
</mapper>