<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.ex.nis.qry.dao.DeptDayReportMapper">
   <select id="getBedNumByDept" parameterType="java.util.Map" resultType="java.util.Map">
	    select bednum as BED,bednum_open as BEDNUMOPEN from bd_ou_dept where pk_dept = #{pkDeptNs,jdbcType=CHAR}
   </select>
   <select id="getQichuNumByDept" parameterType="java.util.Map" resultType="java.math.BigDecimal">
	   <!-- select count(1) as qcnum
		from pv_encounter where pk_dept_ns =#{pkDeptNs,jdbcType=CHAR} 
		and flag_in = '1'  and eu_pvtype = '3' 
		and (date_end &lt;= to_date(#{yesBeforeEnd}, 'YYYYMMDDHH24MISS')  or date_end is null)
		select count(1) as qcnum
		from pv_encounter pv 
		inner join PV_ADT adt on adt.pk_pv=pv.pk_pv
		where pv.pk_dept_ns =#{pkDeptNs,jdbcType=CHAR} 
			and pv.flag_in = '1' and pv.eu_pvtype = '3'
			and (adt.date_end &lt;= to_date(#{yesBeforeEnd}, 'YYYYMMDDHH24MISS') or adt.date_end is null)
     		and pv.DATE_ADMIT &lt;to_date(#{yesBegin}, 'YYYYMMDDHH24MISS')
      		and adt.FLAG_ADMIT=1-->
      	select count(1) as qcnum
		from pv_encounter where pk_dept_ns =#{pkDeptNs,jdbcType=CHAR} 
		and flag_in = '1'  and eu_pvtype = '3' 
		and (date_end &lt;= to_date(#{yesBeforeEnd}, 'YYYYMMDDHH24MISS')  or date_end is null)
   		and date_admit &lt;to_date(#{yesBegin}, 'YYYYMMDDHH24MISS')
   </select>
   <select id="getDayInNumByDept" parameterType="java.util.Map" resultType="java.math.BigDecimal">
	    select count(1) as deptin 
		  from pv_encounter pv inner join pv_adt adt on pv.pk_pv=adt.pk_pv
		 where adt.flag_admit = '1' and
		       adt.date_begin &gt;= to_date(#{yesBegin}, 'YYYYMMDDHH24MISS')  and
		       adt.date_begin &lt;= to_date(#{yesEnd}, 'YYYYMMDDHH24MISS')  and
		       pv.flag_cancel = '0' and  adt.pk_dept_ns =  #{pkDeptNs,jdbcType=CHAR}
   </select>
   <select id="getDayOutNumByDept" parameterType="java.util.Map" resultType="java.math.BigDecimal">
	    select count(1) as deptout 
		  from pv_encounter pv inner join pv_adt adt on pv.pk_pv=adt.pk_pv
		 where adt.flag_dis = '1' and
		       adt.date_end &gt;= to_date(#{yesBegin}, 'YYYYMMDDHH24MISS')  and
		       adt.date_end &lt;= to_date(#{yesEnd}, 'YYYYMMDDHH24MISS')  and
		       pv.flag_cancel = '0' and adt.pk_dept_ns = #{pkDeptNs,jdbcType=CHAR}
 
   </select>
   <select id="getDeathByDept" parameterType="java.util.Map" resultType="java.math.BigDecimal">
   		select count(pk_cnord) from cn_order ord
 			inner  join bd_ord  bdord on bdord.pk_ord = ord.pk_ord
 			where ord.flag_durg='0' and bdord.name like '%死亡%' and ord.eu_status_ord &gt; '1' and ord.eu_status_ord &lt; '9'
       		and ord.pk_dept_ns = #{pkDeptNs,jdbcType=CHAR} 
       		and ord.date_chk &gt;= to_date(#{yesBegin}, 'YYYYMMDDHH24MISS')  
       		and ord.date_chk &lt;= to_date(#{yesEnd}, 'YYYYMMDDHH24MISS')
   </select>
   <select id="getDeptAdtOutNumByDept" parameterType="java.util.Map" resultType="java.math.BigDecimal">
	   select count(1) adtout 
		  from pv_encounter pv 
		       inner join pv_adt adts on pv.pk_pv=adts.pk_pv
		       inner join pv_adt adtd on adts.pk_adt=adtd.pk_adt_source 
		 where adts.date_end &gt;= to_date(#{yesBegin}, 'YYYYMMDDHH24MISS')  and
		       adts.date_end &lt;= to_date(#{yesEnd}, 'YYYYMMDDHH24MISS')  and
		       pv.flag_cancel = '0' and adts.pk_dept_ns = #{pkDeptNs,jdbcType=CHAR}
   </select>
   <select id="getDeptAdtInByDept" parameterType="java.util.Map" resultType="java.math.BigDecimal">
	    select count(1) adtin 
		  from pv_encounter pv 
		       inner join pv_adt adts on pv.pk_pv=adts.pk_pv
		       inner join pv_adt adtd on adts.pk_adt=adtd.pk_adt_source 
		 where adtd.flag_admit != '1' and adtd.eu_status = '1'
		       and  adtd.date_begin &gt;= to_date(#{yesBegin}, 'YYYYMMDDHH24MISS')  
		       and adtd.date_begin &lt;= to_date(#{yesEnd}, 'YYYYMMDDHH24MISS') 
		       and pv.flag_cancel = '0'  and adtd.pk_dept_ns = #{pkDeptNs,jdbcType=CHAR}
   </select>
   <select id="getBzNumByDept" parameterType="java.util.Map" resultType="java.math.BigDecimal">
	    select count(1) as bz
        from pv_encounter pv
        inner join pv_ip ip on pv.pk_pv=ip.pk_pv
        where pv.flag_in = '1' and
        pv.pk_dept_ns = #{pkDeptNs,jdbcType=CHAR} and
        pv.flag_cancel ='0' and ip.dt_level_dise = '02'   
        and pv.date_admit &lt;= to_date(#{yesEnd},'YYYYMMDDHH24MISS')  
   </select>
   <select id="getBwNumByDept" parameterType="java.util.Map" resultType="java.math.BigDecimal">
	    select count(1)
  		from pv_encounter pv
        inner join pv_ip ip on pv.pk_pv=ip.pk_pv
 	    where pv.flag_in = '1' and
        pv.pk_dept_ns = #{pkDeptNs,jdbcType=CHAR} and   pv.flag_cancel = '0' and ip.dt_level_dise = '03' 
        and pv.date_admit &lt;= to_date(#{yesEnd},'YYYYMMDDHH24MISS')  
   </select>
   <select id="getHLNumByDept" parameterType="java.util.Map" resultType="java.math.BigDecimal">
	    select count(1)
  		from pv_encounter pv
        inner join pv_ip ip on pv.pk_pv=ip.pk_pv
 	    where pv.flag_in = '1' and
        pv.pk_dept_ns = #{pkDeptNs,jdbcType=CHAR} and  pv.flag_cancel = '0' and ip.dt_level_ns = #{hldj,jdbcType=VARCHAR}
   </select>
    <select id="getAttendNumByDept" parameterType="java.util.Map" resultType="java.math.BigDecimal">
	    select count(pk_cnord) 
  		from cn_order ord where code_ordtype ='14' and ord.pk_dept_ns = #{pkDeptNs,jdbcType=CHAR} 
  		and  ord.eu_status_ord &gt; 1 and (ord.date_stop is null  or ord.date_stop &gt;= to_date(#{yesEnd}, 'YYYYMMDDHH24MISS'))
   </select>
  <select id="getPatiInHospNumByDept" parameterType="java.util.Map" resultType="java.math.BigDecimal">
	    select count(1) as innum
		  from pv_encounter pv 
		 where pv.date_begin &gt;= to_date(#{yesBegin}, 'YYYYMMDDHH24MISS')  and
		       (pv.date_end &lt;= to_date(#{yesEnd}, 'YYYYMMDDHH24MISS')  or pv.date_end is null)  and
		       pv.flag_cancel != '1' 
		       and pv.pk_dept_ns = #{pkDeptNs,jdbcType=CHAR}
   </select>
   
   <update id="modifyDeptDayReport" parameterType="java.util.Map">
	   	update pv_ip_daily
	   	<trim prefix="set" suffixOverrides="," >
	  		<!-- <if test="pkOrg!=null">pk_org=#{pkOrg},</if>
	  		<if test="pkDept!=null">pk_dept=#{pkDept},</if> -->
	  		<!-- <if test="pkDeptNs!=null">pk_dept_ns=#{pkDeptNs},</if> -->
	  		<!-- <if test="dateSa!=null">date_sa=to_date(#{dateSa}, 'YYYYMMDDHH24MISS'),</if> -->
	  		<if test="bednum!=null">bednum=#{bednum},</if>
	  		<if test="bednumOpen!=null">bednum_open=#{bednumOpen},</if>
	  		<if test="inhospYd!=null">inhosp_yd=#{inhospYd},</if>
	  		<if test="admit!=null">admit=#{admit},</if>
	  		<if test="transIn!=null">trans_in=#{transIn},</if>
	  		<if test="transOut!=null">trans_out=#{transOut},</if>
	  		<if test="discharge!=null">discharge=#{discharge},</if>
	  		<if test="inhosp!=null">inhosp=#{inhosp},</if>
	  		<if test="riskynum!=null">riskynum=#{riskynum},</if>
	  		<if test="severenum!=null">severenum=#{severenum},</if>
	  		<if test="deathnum!=null">deathnum=#{deathnum},</if>
	  		<if test="nurseSpec!=null">nurse_spec=#{nurseSpec},</if>
	  		<if test="nurseFirst!=null">nurse_first=#{nurseFirst},</if>
	  		<if test="accomnum!=null">accomnum=#{accomnum},</if>
	  		<!-- <if test="daysTotal!=null">days_total=#{daysTotal},</if> -->
	  		<if test="note!=null">note=#{note},</if>
	  		<if test="modityTime!=null">modity_time=#{modityTime},</if>
	  		<if test="modifier!=null">modifier=#{modifier},</if>
	 	</trim>
	 	where  pk_ipdaily=#{pkIpdaily}
   </update>
	<select id="getDeptDayReportByPkAndDate" parameterType="java.util.Map" resultType="com.zebone.nhis.common.module.pv.PvIpDaily">
		select 
  		  pk_ipdaily,
  		  date_sa,
 		  bednum,
  		  bednum_open,
		  inhosp,
		  inhosp_yd,
		  admit,
		  discharge,
		  trans_in,
		  trans_out,
		  deathnum,
		  severenum,
		  riskynum,
		  nurse_spec,
		  nurse_first,
		  accomnum,
		  note 
  		from pv_ip_daily where date_sa &gt;= to_date(#{yearStart},'YYYYMMDDHH24MISS') and date_sa &lt;= to_date(#{yearEnd},'YYYYMMDDHH24MISS')  and pk_dept_ns=#{pkDeptNs}
	</select>
</mapper>