<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.pro.zsba.base.dao.SrvBaMapper">

	<!-- 更新医嘱字典 - 排斥类型 -->
  	<update id="updateOrdBypk">
		update bd_ord set eu_exclude = #{euExclude} where pk_ord = #{pkOrd}
	</update>

</mapper>