<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.scm.material.dao.MtlPayProcMapper">
	<select id="queryPaySupplyerList" parameterType="java.util.Map" resultType="DynaBean">
		select spr.pk_supplyer,
		       spr.name,
		       spr.acc_no,
		       spr.dt_bank
		  from bd_supplyer spr
		 where exists (select 1
		                 from pd_st st 
		                      inner join pd_st_detail dt on st.pk_pdst=dt.pk_pdst
		                      inner join bd_pd pd on pd.pk_pd=dt.pk_pd
		                where st.pk_org = #{pkOrg,jdbcType=CHAR} and 
		                      spr.pk_supplyer=st.pk_supplyer and 
		                      dt.flag_pay='0' and
		                      st.eu_direct='1' and
		                      st.flag_pu='1' and
		                      dt.flag_chk_rpt='1'
		                      and pd.dt_pdtype like '1%'
		               )
	</select>
	<select id="queryStPayList" parameterType="java.util.Map" resultType="com.zebone.nhis.scm.material.vo.MtlPdStDtVo">
		select dt.pk_pdstdt,
		       dt.pk_pdst,
		       pd.code,
		       pd.name,
		       pd.spcode, 
		       pd.spec,
		       bf.name factory_name,
		       dt.receipt_no,
		       dt.amount_pay,
		       dt.note,
		       bu.name unit_pack_name,
		       st.pk_supplyer  
		  from pd_st st
		       inner join pd_st_detail dt on st.pk_pdst=dt.pk_pdst
		       inner join bd_pd pd on dt.pk_pd=pd.pk_pd
		       inner join bd_factory bf on pd.pk_factory=bf.pk_factory
		       left join bd_unit bu on bu.pk_unit = dt.pk_unit_pack
		 where st.pk_org = #{pkOrg,jdbcType=CHAR} and 
		       st.pk_supplyer=#{pkSupplyer,jdbcType=CHAR} and
		       dt.flag_chk_rpt='1' and
		       dt.flag_pay='0' 
		       and pd.dt_pdtype like '1%'
		 order by st.receipt_no  
	</select>
	<select id="queryPdPayList" parameterType="java.util.Map" resultType="com.zebone.nhis.scm.material.vo.MtlPdPayVo">
		select pay.pk_pdpay,
		       pay.pay_no,
		       pay.pk_supplyer,
		       bs.name supplyer_name,
		       pay.date_pay,
		       pay.dt_paymode,
		       bd_pm.name paymode_name,
		       pay.dt_bank,
		       bd_bk.name bank_name,
		       pay.cert_no,
		       pay.amount_pay,
		       pay.pk_emp_pay,
		       pay.name_emp_pay,
		       pay.note,
		       pay.bank_no
		  from pd_pay pay
		       inner join bd_supplyer bs on pay.pk_supplyer=bs.pk_supplyer
		       inner join bd_defdoc bd_pm on pay.dt_paymode=bd_pm.code and bd_pm.code_defdoclist='110100'
		       left outer join bd_defdoc bd_bk on pay.dt_bank=bd_bk.code and bd_bk.code_defdoclist='040005'
		 where pay.pk_org = #{pkOrg,jdbcType=CHAR} 
		 			and exists (select 1 from pd_st_detail dt inner join bd_pd pd on pd.pk_pd=dt.pk_pd where dt.pk_pdpay=pay.pk_pdpay  and pd.dt_pdtype like '1%')
		       <if test="payNo != null  and  payNo != ''">
		       		and pay.pay_no = #{payNo,jdbcType=VARCHAR}
		       </if>
		       <if test="pkSupplyer != null  and  pkSupplyer != ''">
		       		and pay.pk_supplyer = #{pkSupplyer,jdbcType=CHAR}
		       </if>
		       <if test="dtPaymode != null  and  dtPaymode != ''">
		         	and pay.dt_paymode = #{dtPaymode,jdbcType=VARCHAR}
		       </if>
		       <if test="dtBank != null  and  dtBank != ''">
		         and pay.dt_bank = #{dtBank,jdbcType=VARCHAR}
		       </if>
		       <if test="certNo != null  and  certNo != ''">
		         and pay.cert_no = #{certNo,jdbcType=VARCHAR}
		       </if>
		      <if test="beginDate != null  and  beginDate != ''">
		         and pay.date_pay &gt;= to_date(#{beginDate},'YYYYMMDDHH24MISS')
		       </if>
		       <if test="endDate != null  and  endDate != ''">
		         and pay.date_pay &lt;= to_date(#{endDate},'YYYYMMDDHH24MISS')
		       </if>
		       <if test="pkEmpPay != null  and  pkEmpPay != ''">
		         and pay.pk_emp_pay = #{pkEmpPay,jdbcType=CHAR}
		       </if>
		       order by pay.pay_no 
	</select>
	<select id="queryPdPayDtList" parameterType="java.util.Map" resultType="com.zebone.nhis.scm.material.vo.MtlPdStDtVo">
		select dt.pk_pdstdt,
		       dt.pk_pdst,
		       pd.code,
		       pd.name,
		       pd.spcode, 
		       pd.spec,
		       bf.name factory_name,
		       dt.receipt_no,
		       dt.amount_pay,
		       dt.note,
		       bu.name unit_pack_name,
		       st.pk_supplyer  
		  from pd_st st
		       inner join pd_st_detail dt on st.pk_pdst=dt.pk_pdst
		       inner join bd_pd pd on dt.pk_pd=pd.pk_pd
		       inner join bd_factory bf on pd.pk_factory=bf.pk_factory
		       left join bd_unit bu on bu.pk_unit = dt.pk_unit_pack
		 where dt.pk_pdpay = #{pkPdpay,jdbcType=CHAR}  
		 order by pd.code 
	</select>		
</mapper>