<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.scm.material.dao.MtlStoreHouseGoodsMapper">

	<select id="queMtlPdStores" resultType="DynaBean">
		select pdsto.pk_pdstore,
	       pdsto.pk_pd,
	       pd.code pdcode,  
	       pd.name pdname,
	       pd.spec,  
	       pdsto.pk_unit,    
	       unit.name unit, 
	       pdsto.stock_max, 
	       pdsto.stock_min, 
	       pdsto.count_per, 
	       pdsto.last_date, 
	       pdsto.posi_no,   
	       pdsto.flag_stop,
		   pd.barcode,
		   pdsto.pk_pdconvert,
		   pdsto.pack_size
	  from bd_pd_store pdsto
	       inner join bd_pd pd on pdsto.pk_pd=pd.pk_pd
	       left join bd_unit unit on pdsto.pk_unit=unit.pk_unit and unit.del_flag='0' 
	 where pdsto.pk_store = #{pkStore,jdbcType=VARCHAR} 
		   and pd.dt_pdtype like '1%'
		 <if test="code!=null and code!=''">
		 	and   pd.code like '${code}%'  
		 </if>
		 <if test="name!=null and name!=''">
		 	and   pd.name like '%${name}%' 
		 </if>
		 <if test="posiNo!=null and posiNo!=''">
		 	and   pdsto.posi_no = #{posiNo,jdbcType=VARCHAR} 
		 </if>
		 <if test="flagStop!=null and flagStop!=''">
		 	and   pdsto.flag_stop = #{flagStop,jdbcType=VARCHAR}
		 </if>
		 <if test="pycode!=null and pycode!=''">
		 	and   upper(pd.spcode) like '%${pycode}%'
		 </if>
		<if test="barcode!=null and barcode!=''">
			and  pd.barcode = #{barcode,jdbcType=VARCHAR}
		</if>
	</select>
	
	<select id="queNewMtlBdPds" resultType="DynaBean">
		select pd.pk_pd, 
	       pd.code,  
	       pd.name,  
	       pd.spec,  
	       pd.spcode,
	       fa.name factory  
	  from bd_pd pd
	       inner join bd_factory fa on pd.pk_factory=fa.pk_factory
	 where pd.flag_stop=0 and
	       not exists (select 1
	                     from bd_pd_store pds
	                    where pd.pk_pd=pds.pk_pd and
	                          pds.pk_store=#{pkStore,jdbcType=VARCHAR})
	       					  and pd.dt_pdtype like '1%'
	       <if test="dtPdtype!=null and dtPdtype!=''">
	   		and pd.dt_pdtype=#{dtPdtype,jdbcType=VARCHAR} 
	   	   </if>
	       <if test="pkPdcate!=null and pkPdcate!=''">
	   		and pd.pk_pdcate=#{pkPdcate,jdbcType=VARCHAR}
	   	   </if>
	       <if test="dtAbrd!=null and dtAbrd!=''">
	   		and pd.dt_abrd =#{dtAbrd,jdbcType=VARCHAR}
	   	   </if>
	       <if test="flagPrecious!=null and flagPrecious!=''">
	   		and pd.flag_precious=#{flagPrecious,jdbcType=VARCHAR}
		   </if>
		   <if test="flagUse!=null and flagUse!=''">
		   		and pd.flag_use=#{flagUse,jdbcType=VARCHAR}
		   </if>
	       <if test="code!=null and code!=''">
	   		and pd.code like '${code}%'
	   	   </if>
	       <if test="name!=null and name!=''">
	   		and pd.name like '%${name}%'
	   	   </if>
		   <if test="spcode!=null and spcode!=''">
	   		and upper(pd.spcode) like '${spcode}%'
	   	   </if>
	</select>


</mapper>