<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.cn.pub.dao.BdSerialnoMapper" >

  <select id="selectSn" resultType="java.lang.Double" >
    select val  
    from BD_SERIALNO
    where name_tb = #{tableName,jdbcType=VARCHAR} and name_fd = #{fieldName,jdbcType=VARCHAR}
  </select>
  <select id="selectLength" resultType="Integer" >
    select length  
    from BD_SERIALNO
    where name_tb = #{tableName,jdbcType=VARCHAR} and name_fd = #{fieldName,jdbcType=VARCHAR}
  </select>

  
  <insert id="initSn" parameterType="com.zebone.nhis.cn.pub.vo.BdSerialno" >
  	insert into BD_SERIALNO (PK_SERIALNO, PK_ORG, NAME_TB, NAME_FD, VAL_INIT, VAL )
  	<trim prefix="values (" suffix=")" suffixOverrides="," >
  		 #{pkSerialno,jdbcType=CHAR},
  		 #{pkOrg,jdbcType=CHAR},
  		 #{nameTb,jdbcType=VARCHAR},
  		 #{nameFd,jdbcType=VARCHAR},
  		 #{valInit,jdbcType=DECIMAL},
  		 #{val,jdbcType=DECIMAL},
  	</trim>
  </insert>
    
</mapper>