<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebone.nhis.cn.ipdw.dao.CnChiefResidentMapper">
	<select id="queryChiefResidentList"  parameterType="java.util.Map" resultType="DynaBean">
        select	a.*,be.name_emp,bd.name_dept,be1.name_emp Creator_Name
        from CN_CHIEF_RESIDENT a
        LEFT JOIN BD_OU_EMPLOYEE be on be.PK_EMp=a.PK_EMP
		left join BD_OU_DEPT bd on bd.pk_dept=a.pk_dept
		LEFT JOIN BD_OU_EMPLOYEE be1 on be1.PK_EMp=a.CREATOR
        where    
        	a.DEL_FLAG = '0' 
        <if test="pkEmp !=null and pkEmp != ''">
            and a.pk_Emp = #{pkEmp,jdbcType=VARCHAR}
        </if>
        <if test="pkDept !=null and pkDept != ''">
            and a.pk_Dept = #{pkDept,jdbcType=VARCHAR}
        </if>
        <if test="dateBegin !=null and dateBegin != ''">
        	and a.date_Begin<![CDATA[>=]]> to_date(#{dateBegin,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
        </if>
        <if test="dateEnd !=null and dateEnd != ''">
        	and a.date_End<![CDATA[<=]]> to_date(#{dateEnd,jdbcType=VARCHAR},'yyyy-mm-dd hh24:mi:ss')
        </if>
        ORDER BY a.CREATE_TIME desc
    </select>
</mapper>