<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.cn.ipdw.dao.CpActionMapper" >

  <select id="getDictAction_1" resultType="com.zebone.nhis.common.module.cn.cp.BdCpAction" parameterType="java.lang.String" >
	select  * 
	from bd_cp_action 
	where name_act like #{pkAction,jdbcType=VARCHAR}
  </select>
  
  <select id="getDictAction" resultType="com.zebone.nhis.common.module.cn.cp.BdCpAction" parameterType="java.util.Map" >
	select pk_cpaction,pk_org,code_act,name_act,eu_type,eu_role,func,creator,create_time,modifier,modity_time,del_flag,spcode,d_code,ts,code_doctype,
	   case when eu_calltype='' then null else eu_calltype end as  eu_calltype, 
       case
         when (select count(1) 
                 from bd_cp_action cp_action 
                inner join cp_temp_work twork 
                   on twork.pk_cpaction = cp_action.pk_cpaction 
                inner join cp_rec_dt dt 
                   on dt.pk_tempwork = twork.pk_tempwork 
                where cp_action.pk_cpaction = action.pk_cpaction) > 0 then 
          1 
         else 
          0 
       end as flag_cp_use 
  from bd_cp_action action 
	where action.name_act like #{pkAction,jdbcType=VARCHAR} or action.code_act like #{pkAction,jdbcType=VARCHAR}
  </select>  

  <insert id= "saveDictAction">
  
  </insert>

</mapper>