<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.common.dao.EmployeePubMapper">
	<select id="queryEmpPresFlag" resultType="DynaBean">
		select dt_empsrvtype,flag_pres,flag_anes,flag_spir_one,flag_spir_sec,flag_poi 
		from bd_ou_employee
		where pk_emp = #{pkEmp,jdbcType=CHAR}
	</select>
	
</mapper>