<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.ma.pub.lb.dao.LbHighValueConsumMapper">
	<select id="queryOutstparam" parameterType="java.util.List" resultType="com.zebone.nhis.ma.pub.lb.vo.HighValuePdstVo">
		select
		  st.pk_org,
		  st.pk_dept_st,
		  st.pk_store_st,
		  pd.pk_pd,
		  0                         quan_outstore,
		  dt.price_cost,
		  dt.price,
		  0                         disc,
		  dt.batch_no,
		  null                      date_fac,
		  dt.date_expire,
		  0                         amount_pay,
		  pd.code                   pdcod,
		  pd.name                   pdname,
		  pd.spec,
		  pd.pack_size              pack_size_pd,
		  sing.pk_single,
		  dt.pk_pdstdt pk_pdstdt_in ,
		  sing.barcode 
		from pd_single sing
		  inner join pd_st_detail dt on dt.pk_pdstdt = sing.pk_pdstdt_in
		  inner join pd_st st on st.pk_pdst = dt.pk_pdst
		  inner join bd_pd pd on pd.pk_pd = dt.pk_pd
		where sing.barcode in 
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
			#{item,jdbcType=VARCHAR}
		</foreach>
	</select>
</mapper>