<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zebone.nhis.compay.ins.lb.dao.nhyb.InsSuZhouNHMapper">
       <select id="getInsSuzhounhTreatList" parameterType="java.lang.String"
		resultType="com.zebone.nhis.common.module.compay.ins.lb.nhyb.InsSuzhounhTreat">
		select * from INS_SUZHOUNH_TREAT ist
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			 ist.del_flag = '0'
			<if test="key != null and key != ''">
				and (ist.ZLFSBM LIKE '%${key}%' or ist.ZLFSMC like '%${key}%')
			</if>
		</trim>
		order by ist.ZLFSBM desc
	</select>
	
<select id="getInsSuzhounhHospitalinfoList" parameterType="java.lang.String"
		resultType="com.zebone.nhis.common.module.compay.ins.lb.nhyb.InsSuzhounhHospitalinfo">
		select * from Ins_Suzhounh_Hospitalinfo ish
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			 ish.del_flag = '0'
			<if test="key != null and key != ''">
				and (ist.ZZJGDM LIKE '%${key}%' or ist.YLJGMC like '%${key}%')
			</if>
		</trim>
	</select>
	
	<update id="deleteRegInfo" parameterType="java.lang.String">
		update INS_SUZHOUNH_REGINFO set del_flag='1' where pk_pv=#{pkPv,jdbcType=CHAR}
	</update>
	
	<select id="getRegInfoByPkPv" parameterType="java.lang.String"
		resultType="com.zebone.nhis.common.module.compay.ins.lb.nhyb.InsSuzhounhReginfo" >
	     select * from INS_SUZHOUNH_REGINFO WHERE PK_PV=#{pkpv,jdbcType=CHAR} and DEL_FLAG='0'
	</select>
	
	<select id="getJsInfoByPkSettle" parameterType="java.lang.String"
		resultType="com.zebone.nhis.common.module.compay.ins.lb.nhyb.InsSuzhounhJs" >
	     select * from INS_SUZHOUNH_JS WHERE PK_SETTLE=#{pkSettle,jdbcType=CHAR} and DEL_FLAG='0'
	</select>
	
	<update id="deleteJsInfo" parameterType="java.lang.String">
		update ins_suzhounh_js set del_flag='1' where pk_settle=#{pkSettle,jdbcType=VARCHAR}
	</update>
	
	<select id="qryBdItemAndOrderByPkPv" parameterType="java.util.Map" resultType="com.zebone.nhis.compay.ins.lb.vo.nhyb.CnOrderAndBdItem">
		select
      		distinct bid.pk_cgip,bid.pk_item,bid.code_cg,bid.code_bill,bid.name_cg,bid.pk_unit,bid.pk_dept_app,
      		bid.pk_emp_app pk_emp_ord,bid.name_emp_app name_emp_ord,bid.price,co.quan order_quan,bp.spec,
      		co.code_freq,co.code_supply,co.days,bid.name_emp_cg,bid.amount,bid.date_hap,co.flag_durg,bid.flag_pd,dostype.name DosetypeName,
           (case when bid.flag_pd =0 then bi.code else bp.code  end) code_item,pres.pres_no,bid.quan,bid.amount,co.ordsn,co.ORDSN_PARENT,bid.PK_CGIP_BACK
		from  bl_ip_dt bid
  			left join cn_order co on bid.pk_cnord=co.pk_cnord
  			left join cn_prescription pres on pres.pk_pres=co.pk_pres
  			left join bd_item bi on bi.pk_item=bid.pk_item
        	left join bd_pd bp on bp.pk_pd =bid.pk_item
        	left join (select *
		              from bd_defdoc
		              where code_defdoclist = '030400') dostype ON dostype.code = bp.dt_dosage
			where bid.del_flag = '0' and bid.flag_insu='0' and bid.flag_settle = '0' and pk_settle is null and bid.pk_pv=#{pkPv,jdbcType=VARCHAR}
	</select>
	
	<select id="qryNhItemWithInfo" parameterType="java.util.Map" resultType="DynaBean">
		select DISTINCT
  			isim.pk_insitemmap,bi.pk_item,bi.name,bi.code,bi.name_prt,bi.spec,
  			bi.price,bi.pk_unit,ism.*,isim.create_time 
		from bd_item bi
			inner join ins_szyb_item_map isim on isim.pk_item=bi.PK_ITEM and bi.del_flag='0'
			inner join ins_suzhounh_mlb ism on isim.code=ism.zxbm and ism.del_flag='0'
		where isim.pk_hp=#{pkHp,jdbcType=VARCHAR} and isim.del_flag='0'
		    <if test="euActive != null and euActive != '' ">
			  and bi.flag_active=#{euActive,jdbcType=VARCHAR}
			</if>
	</select>
	
	<select id="qryNhPdWithInfo" parameterType="java.util.Map" resultType="DynaBean">
		select DISTINCT
        	bp.pk_pd pk_item,bp.code,bp.name,bp.short_name,bp.spcode,bf.name factory_name,bp.spec,
  			bp.dt_dosage,bp.price,bp.pk_unit_pack,bp.dt_abrd,isim.pk_insitemmap,
  			bp.flag_stop,bp.eu_drugtype,ism.*,isim.create_time 
		from bd_pd bp
			inner join bd_factory bf on bf.pk_factory=bp.pk_factory
			inner join bd_pd_store bps on bp.pk_pd=bps.pk_pd
			inner join ins_szyb_item_map isim on isim.pk_item=bp.pk_pd and bp.del_flag='0'
			inner join ins_suzhounh_mlb ism on isim.code=ism.zxbm and ism.del_flag='0'
			where isim.pk_hp=#{pkHp,jdbcType=VARCHAR} and isim.del_flag='0'
			<if test="euActive != null and euActive != ''">
               and bp.flag_stop=#{euActive,jdbcType=VARCHAR}
           </if>
	</select>
	
	<select id="qrySettleInfoForFpPrint" parameterType="java.util.Map" resultType="DynaBean">
		select bs.pk_settle,bs.pk_pv,bs.pk_pi,bh.dt_exthp
		from bl_settle bs
		left join pv_encounter pe on bs.pk_pv = pe.pk_pv
		left join bd_hp bh on bs.pk_insurance = bh.pk_hp
		where 1=1 and bs.pk_settle=#{pkSettle,jdbcType=VARCHAR}
		group by bs.pk_settle,bs.pk_pv,bs.pk_pi,bh.dt_exthp
	</select>
	
	
	<select id="qrySettleInfoForFpid" parameterType="java.util.Map" resultType="string">
		<!-- select pi.pk_insurance
		from bl_settle bs
		left join pv_encounter pe on bs.pk_pv = pe.pk_pv
		left join bd_hp bh on pe.pk_insu = bh.pk_hp
		right join pi_insurance pi on pi.pk_hp=bh.pk_hp -->
		select bsi.pk_invoice from bl_settle bs
        	left join bl_st_inv bsi on bs.pk_settle = bsi.pk_settle
        	inner join bl_invoice inv on inv.pk_invoice = bsi.pk_invoice and inv.flag_cancel='0'
		where 1=1 and bs.pk_settle=#{pkSettle,jdbcType=VARCHAR} 
		<if test='printTimes!=null'>
			and inv.print_times &lt; #{printTimes,jdbcType=INTEGER}
		</if>
	</select>
	
	<select id="qryBlOpCgByPkPv" parameterType="java.util.Map" resultType="com.zebone.nhis.compay.ins.lb.vo.nhyb.CnOrderAndBdItem">
		select
              distinct 
				bod.pk_cgop,
				bod.pk_item,
				bod.code_cg,
				bod.code_bill,
				bod.name_cg,
				bod.pk_unit,
				unitdos.name as unit_name,
				bod.pk_dept_app,
				bod.pk_emp_app pk_emp_ord,
				bod.name_emp_app name_emp_ord,
				bod.price,
				co.quan order_quan,
				bp.spec,
			    co.code_freq,
				co.code_supply,
				co.days,
				bod.name_emp_cg,
				bod.amount,
				bod.date_hap,
				co.flag_durg,
				bod.flag_pd,
				dostype.name DosetypeName,
                (case when bod.flag_pd =0 then bi.code else bp.code  end) code_item,
                (case when bod.flag_pd =0 then bi.code else bp.code  end) item_code,
                (case when bod.flag_pd =0 then bi.name else bp.name  end) item_name,
				pres.pres_no,
				bod.quan,
				bod.amount,
				co.ordsn,
				co.ordsn_parent,
				bod.pk_cgop_back
		from  bl_op_dt bod
  	    left join cn_order co on bod.pk_cnord=co.pk_cnord
  	    left join bd_unit unitdos on unitdos.pk_unit = co.pk_unit_dos
  	    left join cn_prescription pres on pres.pk_pres=co.pk_pres
  		left join bd_item bi on bi.pk_item=bod.pk_item
        left join bd_pd bp on bp.pk_pd =bod.pk_pd
        left join (select * from bd_defdoc where code_defdoclist = '030400') dostype ON dostype.code = bp.dt_dosage
		left join bd_invcate_item invcate ON invcate.code = bod.code_bill
		left join bd_invcate cate ON cate.pk_invcate = invcate.pk_invcate
		where   bod.del_flag = '0' 
		        and bod.flag_insu='0' 
		        and bod.flag_settle = '1' 
				and bod.flag_acc = '0' 
		        and cate.eu_type = '0'
		        and cate.flag_active = '1'
		        and bod.flag_pv = '1' 
		        and bod.quan >= 0
		        and bod.pk_cgop_back is null    
		        and bod.pk_pv = #{pkPv,jdbcType=VARCHAR}  
		        and bod.pk_org = #{pkOrg,jdbcType=VARCHAR}       
	</select>
</mapper>
