<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.scm.opds.dao.ScmOpPresCheck2Mapper">
	<select id="qryPrePatis" parameterType="java.util.Map" resultType="DynaBean">
		select distinct
	       pi.pk_pi,
	       pi.code_pi,
	       pi.name_pi,
	       pres.date_reg
	  from pi_master pi
	       inner join ex_pres_occ pres on pi.pk_pi=pres.pk_pi
	 where pres.flag_cg='1' and
	       pres.flag_reg='0' and
	       pres.pk_dept_ex=#{pkDeptEx} and
	       pres.flag_canc='0'
	</select>
	
	<select id="qryPresDt" parameterType="java.util.List" resultType="DynaBean">
		select 
		   dt.pk_presocc,
		   dt.pk_presoccdt,
	       dt.pk_pd,
	       dt.pack_size,
	       pd.name,       
	       bf.name factory,
	       pd.spec,       
	       bn.name unit, 
	       dt.quan_cg,  
	       dt.price,    
	       dt.amount_cg,   
	       ord.dosage,  
	       ord.pk_unit_dos ,
	       bu.name unitdos, 
	       bs.name supply, 
	       freq.name freq,   
	       ord.days,
	       ord.ordsn,
	       ord.ordsn_parent         
	  	from bd_pd pd
	       inner join ex_pres_occ_dt dt on pd.pk_pd=dt.pk_pd
	       inner join cn_order ord on dt.pk_cnord=ord.pk_cnord 
	       inner join bd_factory bf on bf.pk_factory=pd.pk_factory
	       inner join bd_unit bn on dt.pk_unit=bn.pk_unit
	       LEFT JOIN bd_supply bs on bs.code = ord.code_supply
	       LEFT JOIN bd_unit bu on ord.pk_unit_dos=bu.pk_unit
	       left join bd_term_freq freq on freq.code=ord.code_freq
		where dt.pk_presocc in
		<foreach collection="list" index="index" open="(" separator="," close=")" item="item">
			 #{item}
		</foreach>
	</select>
	
	<select id="qryPres" parameterType="java.util.Map" resultType="DynaBean">
		select pres.pk_presocc,
	       pres.pk_pres,
	       pres.pres_no,
	       pres.date_pres,
	       pres.pk_dept_pres,
	       pres.name_emp_pres,
	       pres.pk_diag,
           indiag.desc_diag diagname,
	       dept.name_dept
	  from ex_pres_occ pres
	  inner join bd_ou_dept dept on pres.pk_dept_pres=dept.pk_dept
      left join (select desc_diag ,pk_pv from (select row_number() over(partition by pk_pv order by flag_maj desc) cnt, diag.pk_pv,diag.desc_diag from pv_diag diag ) res where res.cnt = 1) indiag on indiag.PK_PV=pres.PK_PV
	  where pres.pk_pi=#{pkPi} and
	       pres.flag_cg='1' and
	       pres.flag_reg='0' and
	       pres.pk_dept_ex=#{pkDeptEx} and
	       pres.flag_canc='0' 
	</select>
	
	<!-- 配药发药模式下更新处方执行单 -->
	<update id="updateByDosage"  parameterType="java.util.Map">
	update ex_pres_occ 
   set date_reg=#{dateReg},  
       flag_reg='1',
       winno_conf=#{winnoConf},  
       winno_prep=#{winnoPrep}   
 where pk_presocc=#{pkPresocc} and
       flag_cg='1' and
       flag_reg='0' and
       flag_canc='0'
		
	</update>
	
	<!-- 直接发药模式下更新处方执行单 -->
	<update id="updateByDispensing" parameterType="java.util.Map">
	update ex_pres_occ
   set date_reg=#{dateReg},
       flag_reg='1',
       flag_prep='1',
       winno_conf=#{winnoConf}
 where pk_presocc=#{pkPresocc} and
       flag_cg='1' and
       flag_reg='0' and
       flag_canc='0'
	</update>
	
</mapper>
