<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zebone.nhis.base.bd.dao.DeptFeeSetMapper">


<select id="findDeptByPkOrg" resultType="DynaBean" parameterType="java.util.Map">
	select dept.* 
	  from bd_ou_dept dept
	 where dept.pk_org=#{pkOrg,jdbcType=CHAR}
	    and dept.flag_active='1' 
	    and dept.del_flag='0'
	    and (dept.dt_depttype = '01' or dept.dt_depttype like '%03')
	    and dept.DEPT_TYPE='N'
	    <if test="pkDept !=null and pkDept != ''">
          	and dept.pk_dept = #{pkDept,jdbcType=VARCHAR}
       	</if>
	  order by dept.code_dept
</select>
<select id="findDeptAndTypeByPkOrg" resultType="DynaBean" parameterType="java.util.Map">
	select distinct dept.* 
	  from bd_ou_dept dept 
	  inner join bd_ou_dept_type type on dept.pk_dept = type.pk_dept
	 where dept.pk_org=#{pkOrg,jdbcType=CHAR}
	    and dept.flag_active='1' 
	    and dept.del_flag='0'
	    and (type.dt_depttype = '01' or type.dt_depttype like '%03')
	    and dept.DEPT_TYPE='N'
	    <if test="pkDept !=null and pkDept != ''">
          	and dept.pk_dept = #{pkDept,jdbcType=VARCHAR}
       	</if>
	  order by dept.code_dept
</select>

</mapper>